[2022-08-30 01:04] madebygps commented on #316
Here is the PR, apologies for delay, hold up was due to https://github.com/Azure/azure-functions-host/issues/8311. Deploying the Linux consumption is still not possible, but the team said using windows consumption would be fine and the template works for that. Once the Functions teams resolved the host issues, I can update the template work deploy to Linux consumption.

[2022-08-30 04:25] savannahostrowski commented on #547
Let's add some details here. Is it just that tfstate is not supported in remote contexts?

[2022-08-30 04:57] rajeshkamal5050 commented on #248
When run with `azd down --force --purge --no-prompt` only KeyVault gets purged and App Configuration Service doesn't get purged.

@karolz-ms I think @KSchlobohm claims that we are not in parity with the KeyVault behavior.

[2022-08-30 04:59] rajeshkamal5050 commented on #430
@danieljurek when you get a chance. can you try this?

[2022-08-30 05:03] rajeshkamal5050 commented on #207
@puicchan Closing this one since the verbiage is captured as part of UX improvements issue
- #255 and its [figma prototype](https://www.figma.com/proto/iIRRiGPuKIfaSFfMJXcYle/azd-resource-provisioning?page-id=179%3A96561&node-id=207%3A97650&viewport=2107%2C1113%2C0.25&scaling=scale-down&starting-point-node-id=207%3A97650)

[2022-08-30 05:03] #207 closed

[2022-08-30 05:04] rajeshkamal5050 commented on #197
@vhvb1989 when you get a chance. can you take a look at this?

[2022-08-30 05:06] rajeshkamal5050 commented on #104
@vhvb1989 and @wbreza worked with @timheuer offline to get this resolved.

Closing this. @timheuer please reopen, if need be.

[2022-08-30 05:06] #104 closed

[2022-08-30 05:09] rajeshkamal5050 commented on #473
Closing this one in favor of existing issues.
- #416 and #415

[2022-08-30 05:09] #473 closed

[2022-08-30 09:48] zedy-wj opened #552 "Deployment is not valid according to the validation procedure in todo-nodejs-mongo-swa-func."
**Describe the issue:**
Deploy failed when we try to run the file: "test-templates".

**Repro Steps:**

1. Click `Create codespace on main`.

2. After `az login --use-device-code`, run `bash ./test-templates.sh -t todo-csharp-cosmos-sql -c false`.

**Error Message:**
![image](https://user-images.githubusercontent.com/81678720/187405890-676fd494-368c-4adc-968c-e903484d8283.png)

**Environment:**
co

[2022-08-30 10:33] v-xuto commented on #370
@jongio We have finished the manual tests in the `codespace` for the seven templates.

Test results in `codespace` for seven templates:

- **todo-csharp-cosmos-sql :**
  New issue:  [issue#552](https://github.com/Azure/azure-dev/issues/552)
  Deployment is not valid according to the validation procedure in todo-nodejs-mongo-swa-func.

- **todo-nodejs-mongo-aca, todo-nodejs-mongo-swa-func, todo-pyt

[2022-08-30 14:16] puicchan commented on #518
Updated: https://docs.microsoft.com/en-us/azure/developer/azure-developer-cli/make-azd-compatible?pivots=azd-create.

[2022-08-30 14:16] #518 closed

[2022-08-30 14:17] puicchan commented on #519
Updated: https://docs.microsoft.com/en-us/azure/developer/azure-developer-cli/make-azd-compatible?pivots=azd-create

[2022-08-30 14:17] #519 closed

[2022-08-30 15:38] KSchlobohm opened #553 "[Issue] Cannot run `azd down` when using conditional deployment"
**Output from `azd version`**
[code]

**Output from `az version`**
[code]

**Describe the bug**
Cannot run `azd down` because AZD reads resourceGroup names from deployment groups and finds a group name that has not been deployed.
[code]

**To Reproduce**
1. `azd init`
2. Choose a template (I chose todo-csharp-cosmos-sql)
3. Open `main.bicep` and add the following

[code]

4. Run `azd provision`
5.

[2022-08-30 15:53] danieljurek commented on #430
Thanks for the report @tonybaloney -- I've started looking into this. I'm able to reproduce behavior like this by installing different versions on top of an existing `azd` installation. That is, installing `latest` and immediately installing `daily` results in a similar error. Investigation ongoing.

[2022-08-30 16:07] karolz-ms commented on #248
@rajeshkamal5050 correct, we are not

[2022-08-30 16:46] vhvb1989 commented on #197
Trying to reproduce.

Looking at the issue, it looks like `az` is trying to do `log in` and fails.  But I see the comment about using 2.36 works.

@v-jiaodi can you run `az login` before running `azd pipeline config` and see if that works?

I will come back later with more findings on my side

[2022-08-30 16:48] vhvb1989 commented on #197
Also, can you confirm your OS?
I saw you mentioned `OS : Linux desktop`.  Is it `WSL` ?  or is it a VM?  Docker?

what distro?   Ubuntu/Debian ???

Please share more details about it

[2022-08-30 18:00] ellismg commented on #553
This is a very interesting issue, and something I hadn't considered before.  The implementation of `azd down` works by fetching the most recently deployment and collecting all resource groups from it, which it then deletes.  This is logic that is 100% implemented by `azd` (since Azure has no related concept).

We should look at what the deployment object looks like in this case and see if there's

[2022-08-30 18:03] danieljurek commented on #430
Further investigation into this reveals that the OS caches signatures for binaries ([source](https://developer.apple.com/documentation/security/updating_mac_software)).

There are two fixes here:

* Use `mv` instead of `cp` to overwrite the installed binary
* Restart the computer

I'm working on a fix that uses `mv` in #554

[2022-08-30 18:18] KSchlobohm commented on #553
@ellismg we're using an environment parameter of SECONDARY_AZURE_LOCATION to trigger this behavior. We expect that parameter to be an empty string for non-prod environments and it should be the name of an azure region when we deploy the multiregional production scenario.

In the non-prod scenario, when the condition is false, I still get this error but I'd like `azd` to delete the 1 resource group

[2022-08-30 18:39] Austinauth commented on #243
**Update: 08/30/2022**
- Review feedback from Savannah & PC
- Share with the dev for feedback
- Update the design with feedback
- Schedule time on the next dev demo day to review

[2022-08-30 18:57] ellismg commented on #328
We have been exploring using tags in this way.  In the tool today we have support for finding a target resource based on a tag.   If you tag the resource for your service with `azd-service-name` and then the "friendly name" of your service from `azure.yaml` (that's the name you use as the key under the services section, e.g. `fn`, in the example above) then the tool should try to use it (we added

[2022-08-30 19:43] Austinauth commented on #255
@charris-msft Our latest concepts remove this confusing piece of feedback in favor of showing more generalized progress!

Here's an example of how the loading state + feedback will look for individual items as they're provisioned / deployed (loading bar + success/failure state).

![image](https://user-images.githubusercontent.com/6994218/187528752-60bb5fb5-8879-4310-8487-237f62f5ccf9.png)

[2022-08-30 21:15] rajeshkamal5050 commented on #464
Fixing this - https://github.com/Azure/azure-dev/issues/540, could potentially this test failure.

[2022-08-30 21:17] karolz-ms commented on #243
Thanks for sharing @Austinauth Here is my feedback--HTH!

Color usage: none of the examples show the IDE with a light theme 😞  . I would like to see how the color output will like when the background is white or very bright gray.
Also, I would assume we want to use primary text color ONLY if NO_COLOR is set?

Progress indications look great

Regarding the "actionable hint": I am afraid of issues t

[2022-08-30 21:23] rajeshkamal5050 opened #557 "Implement UX improvements"
Spike to investigate on Austin's UX improvements proposal and prototype - [Investigate UX improvements to the azd up provisioning flow · Issue #255 · Azure/azure-dev (github.com)](https://github.com/Azure/azure-dev/issues/255)
- P0 - Currently it has mocks only for azd up i.e., azd init, provision, and deploy
- P1 - To follow the same layout and styling across all commands in Azd.

@savannahostrow

[2022-08-30 23:09] charris-msft commented on #255
As for recovering SRE who spent lots of time watching the command line, I really appreciate it when I can estimate how much time is left, but if we can't do it well this is much better than today's experience.

Is it not possible to show all of the resources and then fill in the progress as azd is working on each one?

[2022-08-30 23:38] ellismg commented on #540
I think we should also explore caching some of this information locally, so we don't have to list resource groups or do other operations to "discover" resources every time the CLI boots.  It seems like after an `azd provision` we should be able to take the set of provisioned resources, query the "interesting" ones (I think this will be based on RP, for RPs we know do compute and may be tied to an

[2022-08-30 23:42] #397 closed

[2022-08-30 23:54] karolz-ms opened #559 "Make deployment discovery more robust"
We have logic in Bicep provider to re-try the deployment query: https://github.com/Azure/azure-dev/blob/main/cli/azd/pkg/infra/provisioning/bicep_provider.go#L559 This is because it happens that the deployment is not "visible" via the API even though the call to create it has succeeded shortly before.

This logic affects just one codebase though. We have seen cases (e.g. while running tests) where

[2022-08-31 00:07] vhvb1989 commented on #197
as a workaround, please run `az login --scope https://graph.microsoft.com//.default` before running `azd pipeline config`

I will see how to integrate this to `azd`

[2022-08-31 02:24] v-jiaodi commented on #197
@vhvb1989 , I run `azd pipeline config` after running `az login`, but it still doesn't work.
OS: Linux VM
distribution: Ubuntu 20.04
Besides,I try to run `az login --scope https://graph.microsoft.com//.default` before running `azd pipeline config`, the error still exists.

[2022-08-31 04:59] savannahostrowski opened #562 "[Issue] Running `azd down` in uninitialized directory asks for an environment name"
<img width="1155" alt="image" src="https://user-images.githubusercontent.com/8949415/187595885-0eb88a24-b66a-4dae-aef6-802fae1a218f.png">

We should probably throw an error and tell the user that they are in a directory that hasn't been initialized (because there's no `.azure/` or `azure.yaml`)

[2022-08-31 14:57] Austinauth commented on #255
@charris-msft

We had mocked up a few variations that explored showing the time left and the completion %, however, technically it doesn't sound like this is feasible at the moment without adding a significant amount of loading time. 😢

I'll continue to push on this in the future though.

Hmm.. this is a good question, not something I had initially considered. I just want to make sure I'm understa

[2022-08-31 15:10] jaxxstorm commented on #93
Pulumi currently supports a YAML authoring language, which is convertible to a fully fledged programming language.

Being able to output Pulumi YAML, then running `pulumi convert` would be awesome

[2022-08-31 15:40] charris-msft commented on #255
@Austinauth -
regarding showing all the resources - perhaps something like this if there are just 4 resources being created:
[code]

[2022-08-31 16:10] charris-msft opened #563 "[Bug] App Service can't run files with improper Windows CRLF line endings"
- [X] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
azd version 0.1.0-beta.5 (commit 7bd25dd6f1b1899abf63b5f6f36d268a465183e4)

**Output from `az version`**
"azure-cli": "2.39.0"

**Describe the bug**
On Windows 11
when running `azd up https://github.com/tonybaloney/django-on-azure` the files in the repo are downloade

[2022-08-31 18:34] jongio commented on #328
@ellismg - If you don't filter by RG you'll get resources that have the same azd-service-name tag in two diff rgs and results can be unpredictable.

[2022-08-31 18:37] jongio commented on #552
This was fixed here: https://github.com/Azure/azure-dev/pull/521  which hasn't been merged to main yet.  Can you please retry using that pr?

[2022-08-31 18:40] jongio opened #564 "Auto detect IaC provider based on files in infra folder"
Right now we'll require setting the infra provider in azure.yaml

Instead of doing that,

Let's inspect the infra folder.

If bicep files, then use bicep, if tf files, then use tf, if both, then prompt the user to update the azure.yaml file.

[2022-08-31 18:54] Austinauth commented on #255
@charris-msft Gotcha! I'll check with the team to see if something like this is doable 👍🏼

[2022-08-31 20:15] Austinauth commented on #243
@karolz-ms

Good idea. I can definitely mock this up for us to see how it looks.

I'm honestly pretty new when it comes to working with the CLI and IDE, so I don't know how this works. Are you saying that if the user already has a color selected for their default text we would use that instead of our primary text color variable? If so, I think that makes sense.

🥳

This is really good feedback. It

[2022-08-31 22:25] karolz-ms commented on #243
@Austinauth I am super happy that I was able to help a bit

No, what I am getting at is that some users may prefer not to use color at all. There is an informal, but very popular standard for expressing such preference, and I would love to see us support it, see https://no-color.org/ for more information.

[2022-08-31 23:29] ellismg commented on #564
What about just making `bicep` the default and having `terraform` be something you have to opt into, instead of this file system sniffing?

[2022-09-01 07:15] zedy-wj commented on #552
@jongio - Okay, we have tested it based on PR #521, there is no problem.

[2022-09-01 16:56] Austinauth commented on #243
@karolz-ms Ah gotcha. I have no problem if we want to support a low/no color option. I'm not sure what the technical implications are, but I'm attempting to design everything in such a way that the color is only there to enhance an already accessible experience.

For example:
1. Logs will always be prefixed with the log type (ex: `ERROR: Error message`), so even if there is no color there's still

[2022-09-01 16:58] savannahostrowski opened #568 "Java Language Support"
- https://github.com/Azure/azure-dev/issues/416
- https://github.com/Azure/azure-dev/issues/415
- https://github.com/Azure/azure-dev/issues/158

[2022-09-01 17:56] savannahostrowski opened #569 "Identify simple/new learner templates"
What does a truly simple template geared at new learners look like?

[2022-09-01 18:25] weikanglim commented on #559
There was built-in retry for discovering the deployment. However, I believe the error detection was broken: https://github.com/Azure/azure-dev/blob/c414fc573d4785e6f9d875e3529ceb5ad0a2f974/cli/azd/pkg/tools/azcli/azcli.go#L1038

[2022-09-01 19:02] karolz-ms commented on #243
@Austinauth perfect! Thank you for hearing me out.

For hyperlinks we could differentiate them in NO_COLOR mode by underlining the text. I have seen it done by other terminal commands.

Other than that, NO_COLOR support is just a question of including it in the design. The libraries that we use support NO_COLOR intrinsically (at least the `faith/color` one), but it does not quite work today, we pr

[2022-09-01 19:09] #450 closed

[2022-09-01 19:10] savannahostrowski opened #571 "VSCode Visual Representation of azd workflow"
The details here are TBD but we'll likely want to provide a way to visualize the azd workflow + resources being created and managed to be easily visible from within the UI.

[2022-09-01 22:00] weikanglim commented on #456
Fixed by #470

[2022-09-01 22:00] #456 closed

[2022-09-01 22:01] #457 closed

[2022-09-02 04:55] HadwaAbdelhalem opened #574 "Terraform python mongo template resource token seed"
Investigate using fixed string to seed the resources token in the python-mongo template terraform.   the resource token needs to be uniquely created per env  using a unique combination of  (sub/env/location).

[2022-09-02 05:10] #232 closed

[2022-09-02 17:32] #50 closed, assigned to hemarina

[2022-09-02 17:37] danieljurek commented on #344
In different build scenarios we'll need to set the CLI version to differ from what's specified in `version.txt`. In these cases, we'll append information to the version so it's not mistaken for an official release.

Some examples use a contrived build ID `123`

The `daily` release could happen multiple times a day as relevant files are updated in the `main` branch. It might make more sense to use

[2022-09-02 18:37] savannahostrowski opened #578 "[Issue] Remove dependency on Azure CLI"
To limit barriers to entry and streamline onboarding, it'd be ideal if we could remove the dependency we have on `az`.
With this dependency, we are requiring users to install a >1GB package.

[2022-09-02 19:58] #539 closed

[2022-09-02 19:59] #559 closed

[2022-09-02 20:00] #540 closed

[2022-09-02 20:16] weikanglim commented on #464
Closing out since #540 is fixed

[2022-09-02 20:16] #464 closed

[2022-09-02 20:28] weikanglim opened #580 "[CI/CD Issues] - TempDir RemoveAll cleanup fails"
failing [build](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1827817&view=logs&j=a24bcfce-df5c-5f85-8999-2d93251fa3c8&t=aa6c7b0a-b259-54cd-a4e9-1efbfe164f4b)

[code]

Seems to be an issue in `go.testing`, where it is not retrying cleanup. See https://github.com/golang/go/issues/51442

[2022-09-02 20:52] weikanglim opened #582 "[Spike] Investigate Java suport"

[2022-09-03 17:28] jongio opened #584 "[Issue] `azd up` should not prompt if location, sub parameters are provided"
1. create an env with `azd env new -e someenv1`
1. run `azd up -e someenv2 -l eastus2 --subscription somesubid`
1. if the someenv2 doesn't exist you are prompted to create it and then also prompted to select location and sub

If I provide -e, -l, --subscription, then I should not be prompted to create anything it should auto create the env and use location and sub I provided.

![image](https://use

[2022-09-04 05:21] jongio opened #585 "[Issue] Using --subscription with sub name causes portal link to break"
1. Provide sub **name** --subscription with azd up
2. Click the portal link

![image](https://user-images.githubusercontent.com/2163001/188298674-0a5b8a85-0b2c-408d-b35c-c4907ac5dd94.png)

[2022-09-06 13:27] #430 closed

[2022-09-06 18:04] wbreza commented on #230
Resolved with #227

[2022-09-06 18:05] #230 closed

[2022-09-06 18:29] savannahostrowski commented on #522
@rajeshkamal5050 Can we get this prioritized to go in before 9/29? Right now, the experience is broken from the standalone CLI.

[2022-09-06 18:31] vhvb1989 commented on #522
@savannahostrowski I can take a look

[2022-09-06 18:34] karolz-ms opened #587 "Publish Azure SQL template"
The following additional tasks that need to be accomplished before the new Azure SQL template is published:

**Before September CLI release**
- [x] https://github.com/Azure/azure-dev/blob/main/templates/todo/projects/csharp-sql/README.md is out of date, should be brought up to parity with other templates
- [x]  template repo (https://github.com/Azure-Samples/todo-csharp-sql) needs to be updated vi

[2022-09-06 18:42] Austinauth commented on #243
**Update 09/06/2022**
- Hard to measure design success yet until we have telemetry
- Demo the errors today - see where we stand with the team (what feedback do we get)

[2022-09-06 19:48] #580 closed

[2022-09-06 20:36] vhvb1989 opened #589 "Standardize the name used for azd environment variables"
Make `azd` to follow one only convention for environment variables.
`azd` should use a prefix to avoid any collision with system variables.

azd is currently using environment variables in the form of:
- `AZD_XXXX_XXXX...` , like:
  - AZD_SKIP_UPDATE_CHECK
  - AZD_DEBUG_FORCE_NO_TTY
  - AZD_FUNC_TEST

- `AZURE_DEV_XXXX_XXX...`, like:
  - AZURE_DEV_COLLECT_TELEMETRY
  - AZURE_DEV_CI_OS
  - AZURE_DE

[2022-09-06 20:42] karolz-ms commented on #589
For NO_COLOR usage see https://no-color.org/ (it is not `azd` invention)

[2022-09-06 20:49] vhvb1989 commented on #589
At the end of the page there's a list of variations, or libraries using a different argument to support the `no color` feature.
So, `azd` could define its own way if we want. Whatever we decide we just need to create a PR for this [file](https://github.com/jcs/no_color/blob/master/index.md) to appear in the list (either as following the NO_COLOR or by mentioning our way)

We are also currently exp

[2022-09-06 20:51] #533 closed

[2022-09-06 21:00] karolz-ms commented on #589
@vhvb1989 please, no "our separate way" if at all possible: the major advantage of the NO_COLOR "informal standard" is that there is one, simple way to turn off ANSI color output in all conforming software.

[2022-09-06 21:01] weikanglim commented on #589
`GITHUB_ACTIONS` is not defined by `azd` and instead a product of GitHub Actions. I suspect the same is true for `CODESPACES` and `REMOTE_CONTAINERS`.

I think the issue should be rephrased to, any `azd` owned environment variables should share the same prefix, which I'd agree with. `AZD` is my vote for the prefix, although we'd need to potentially think about the breaking change to `AZURE_DEV_COL

[2022-09-06 22:27] weikanglim commented on #487
Closing this since we haven't seen similar failures recently after various fixes

[2022-09-06 22:27] #487 closed

[2022-09-06 22:28] #209 closed

[2022-09-07 00:12] wbreza commented on #315
@rajeshkamal5050  - Not a duplicate, just a variation of the template with SWA & function app support.

[2022-09-07 00:21] wbreza commented on #8
This was completed during the provider implementation #227

[2022-09-07 00:21] #8 closed

[2022-09-07 06:56] rajeshkamal5050 commented on #146
Closing this issue as not reproducible.

[2022-09-07 06:56] #146 closed

[2022-09-07 15:24] rajeshkamal5050 opened #593 "Template Library UI"

[2022-09-07 15:25] rajeshkamal5050 opened #594 "UX Explorations: P0 Azd Extension Tree Code Proposal"
### Issue Details

Review the `azd` VSCode extension tree view proposal and audit the P0 demo. Design to provide UX feedback and improvement concepts.

### Related Links
- [Tree Diagram Proposal](https://microsoft-my.sharepoint.com/:w:/p/karolz/Ec-lwWrN6c9JhkttGWITDngB7nVC7FvIXogGW9olNZDgIw?e=hCpwWu)
- [Austin's Notes + Questions](https://microsoft-my.sharepoint.com/:w:/p/austinauth/EawReZIeIcZIma

[2022-09-07 15:26] rajeshkamal5050 opened #595 "HaTS survey updates"
**Survey updates**
- Added question about template language
- Simplified options for What did you try to do with azd? question

Survey Preview: https://microsoft.qualtrics.com/jfe/preview/SV_eCHU9Hs0OHDxcii?Q_CHL=preview&Q_SurveyVersionID=current&previewID=26cd3a0f-05a0-4c7b-ac83-315a367618e3

**Report updates**
I made the report more user friendly – well, hopefully! You can tell me if that’s not

[2022-09-07 17:42] jongio commented on #589
CODESPACES and REMOTE_CONTAINERS are GH standard, can't change them.

But, I agree with the sentiment.

AZURE_ is what the SDK uses, so we'll likely converge there.  Those won't change.

[2022-09-07 18:16] ellismg commented on #585
To be honest, surprised how much actually worked :-).  I think internally we'll want to work in terms of Subscription IDs, so we should add code very early in the process that converts a subscription name to an ID and store that.

[2022-09-07 18:21] #552 closed

[2022-09-07 18:22] jongio commented on #564
@ellismg that is what we have today.  I like the idea of the user doing less work and azd sniffing as a convention

[2022-09-07 18:25] weikanglim opened #598 "Capture user interactivity time in commands"
Currently, we time the entire command execution time in telemetry which is indeed a useful measure.

However, given that `azd` commands also include prompts + user-interactivity time, we need to exclude "time-waiting-for-user" for true performance metrics.

[2022-09-07 18:31] weikanglim commented on #190
Telemetry has been implemented with recent changes. This work will track enabling it for production use once infrastructure pieces are ready.

These lines of code will be removed: https://github.com/Azure/azure-dev/blob/90bab013dcc90498c47fd87b2dc66e5f78eb979a/cli/azd/internal/telemetry/telemetry.go#L83-L85

We should also remove the `aztempl` user-agent from our Azure service HTTP requests.

[2022-09-07 18:33] savannahostrowski opened #599 "Remove Azure Developer CLI install instructions from templates"
We should link to install instructions for the CLI (as opposed to including them inline here) so that we can reference a single source of truth and ensure that things don't drift or get stale over time.

IMO, this potential concern could be magnified if someone forks the template, makes it their own and then doesn't update the README, meaning that an end user could be pointed at out-of-date instal

[2022-09-07 18:34] weikanglim commented on #454
This class of issues should be fixed with recent changes. Unfortunately, we don't have clear data showing this: https://dev.azure.com/azure-sdk/internal/_test/analytics?definitionId=4643&contextType=build given a separate issue we found with TempDir.Remove failing. This was also fixed recently.

[2022-09-07 18:34] #454 closed

[2022-09-07 18:44] weikanglim opened #600 "VSCode correlation"
Currently, we do not have a reliable way to detect whether `azd` is invoked directly from Visual Studio or VSCode for telemetry purposes. This issue tracks the enabling of such a detection mechanism.

Likely, we'll need to add special flags to VSCode or Visual Studio invocation to add identification support.

[2022-09-07 18:49] puicchan opened #601 "Dev Hub update for Sep iteration"
- [ ] Add azdo

[2022-09-07 19:02] KSchlobohm opened #602 "Transient `azd deploy` error caused failed deployment"
**Describe the bug**
We run a nightly deployment with `azd` to validate our bicep templates. As part of that validation we also deploy the code and plan to add some integration tests (not yet added).

The issue is that the `azd deploy` step failed with what appears to be a transient error from Azure.
[code]

**To Reproduce**
Not able to reproduce the issue.

**Expected behavior**
It's unclear how

[2022-09-07 19:21] rajeshkamal5050 opened #603 "New Azd internal command for sharing proj/env context for Azd <-> VS integration"
Context of the ask and use-case for VS to provide a new internal Azd command - https://github.com/Azure/azure-dev/discussions/241

[2022-09-07 20:21] karolz-ms commented on #600
@weikanglim we do for VS Code, see https://github.com/Azure/azure-dev/blob/main/ext/vscode/src/utils/azureDevCli.ts#L66 and https://github.com/Azure/azure-dev/blob/9ecd9bcd9153ee02b64a5a400545a7fe1289a522/ext/vscode/src/extension.ts#L43 and https://github.com/Azure/azure-dev/blob/9ecd9bcd9153ee02b64a5a400545a7fe1289a522/ext/vscode/src/ext.ts#L11

[2022-09-07 20:58] weikanglim commented on #600
Thanks for sharing that @karolz-ms. That is indeed a reliable way to detect whether we're invoked by VSCode. Do we think of the `AZURE_DEV_USER_AGENT` as a generic "user agent" variable that is not tied to HTTP? If so, then I agree with the mechanism.

Also, do we guarantee that we would override the environment variable even if one was set by the user, and set `AZURE_DEV_USER_AGENT` to exactly th

[2022-09-07 21:03] weikanglim commented on #545
This is likely fixed. Will reopen if we see more occurrences.

[2022-09-07 21:03] #545 closed

[2022-09-07 21:05] weikanglim commented on #453
Fixed by #223. I don't see any new failures in the last 14 days: https://dev.azure.com/azure-sdk/internal/_test/analytics?definitionId=4643&contextType=build

[2022-09-07 21:05] #453 closed

[2022-09-07 21:07] karolz-ms commented on #600
@weikanglim correct, the `AZURE_DEV_USER_AGENT` is not tied to HTTP in any way, and it should override whatever is set in the ambient environment when VS Code invokes the AZD CLI (if it does not, it is a bug).

[2022-09-08 08:07] v-jiaodi commented on #291
@hemarina,   I re-run the test . This issue can no longer be reproduced on Linux(Ubuntu 20.04) ，Codespace and DevContainer.

[2022-09-08 17:05] #291 closed, assigned to hemarina

[2022-09-08 17:31] #233 closed

[2022-09-08 20:37] karolz-ms opened #609 "Add capability to specify the template repository in repoman releases"
(so that we can update individual templates)

[2022-09-08 21:04] #522 closed

[2022-09-08 22:01] vhvb1989 opened #613 "[CI/CD Issues] Test_CLI_InfraCreateAndDeleteWebApp"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1839431&view=logs&jobId=dc5bf7c0-035c-5026-d13f-d96165097be5&j=dc5bf7c0-035c-5026-d13f-d96165097be5&t=3df53065-ecc0-5118-365f-6e645321d3fc

Failed
=== FAIL: cli/azd/test/functional Test_CLI_InfraCreateAndDeleteWebApp (83.00s)
    cli_test.go:347: DIR: /tmp/Test_CLI_InfraCreateAndDeleteWebApp2406998604/001
    cli_test.go:350: AZURE_EN

[2022-09-08 23:32] weikanglim commented on #416
@jdubois Do you know if the Maven plugin vs Gradle is more popular amongst Java developers for package/deploy? We'll might end up supporting both if the userbase is big enough, but I think we'll start with one for early iterations.

[2022-09-08 23:45] savannahostrowski opened #617 "[Issue] Error on `azd pipeline config` : no git remotes found"
- [ x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
Run `azd version` and copy and paste the output here:

**Output from `az version`**
Run `az version` and copy and paste the output here (minimum required version is 2.38.0):
azd version 0.1.0-beta.5 (commit 7bd25dd6f1b1899abf63b5f6f36d268a465183e4)

**Describe the b

[2022-09-08 23:48] rajeshkamal5050 commented on #416
@weikanglim it will be Maven to start with based on the data collected by @savannahostrowski

[2022-09-09 00:20] weikanglim opened #618 "Collect debug logs from end-to-end tests"
It is hard to debug where things go wrong in `azd` in an end-to-end test without debug tests.

We should:
- Enable `-debug` flag for end-to-end tests
- Redirect debug logs into files
- Upload files as artifacts in the test run

[2022-09-09 00:44] weikanglim opened #619 "`azd down` does not delete an empty resource group environment"
This was caught in CI runs as we were leaking resource groups per each test run.

To reproduce:
`go test -v -timeout 30m -run ^Test_CLI_ResourceGroupNameWithoutEnvNameTag$`

Look for the resource group in Portal with the unique hex string created. Notice that this resource group is empty, but still around even though the test runs `azd down` at the end of the test execution.

[2022-09-09 00:46] vhvb1989 commented on #617
u.u

Using the `just-created` repository seems to be broken now :(

As a workaround, you can run `azd pipeline config` again and choose `Select an existing GitHub project`:

![image](https://user-images.githubusercontent.com/24213737/189249531-7fe56726-d11a-4e3e-b5fd-a0752e0fc759.png)

You will see the GitHub repo that was created before and you can choose it. (this is just a workaround)

This is

[2022-09-09 01:01] vhvb1989 commented on #617
It was actually fixed by: https://github.com/Azure/azure-dev/pull/560

There was a variable shadowing here: https://github.com/Azure/azure-dev/pull/560/files#diff-def994bbb17a2ca16c183eddc615854764c1a21e0e090970249780637dca1e3bR338

[2022-09-09 01:12] #613 closed

[2022-09-09 01:13] weikanglim commented on #619
Looking at the delete logic, it seems that we:
1. Resolve all resource groups referenced by the deployment using `unique(deployment.properties.dependencies)`
2. Delete all resources under the resource groups
3. Delete all resource groups

The problem is that for a deployment with no resources and just resource groups, there are no `dependencies`. Only `outputResources`.

[2022-09-09 10:07] jdubois commented on #416
Yes Maven is much more popular than Maven for building/packaging a Java application. Then for deploying, our data shows that most people are using the CLI, the VS Code plugin or a tool like Terraform, than the Maven plugin.

[2022-09-09 16:08] savannahostrowski commented on #617
Thanks for investigating! Do we have any tests that cover `azd pipeline config`? Could we set something up to catch a regression like this?

[2022-09-09 16:33] rajeshkamal5050 opened #621 "Add terraform extension to todo-python-mongo-terraform devcontainer.json"
todo-python-mongo-terraform template is missing terraform extension for dev container support
- https://github.com/Azure-Samples/todo-python-mongo-terraform/blob/staging/.devcontainer/devcontainer.json

[2022-09-09 16:58] wbreza opened #622 "Add support for terraform for azd pipeline config"
Ensure that the `azd pipeline config` command continues to work as expected for projects that leverage terraform.

At this point this would require setting the following secrets as part of the pipeline config command.

- ARM_SUBSCRIPTION_ID
- ARM_TENANT_ID
- ARM_CLIENT_ID
-  ARM_CLIENT_SECRET

[2022-09-09 18:22] vhvb1989 commented on #617
We have a few unit tests. We need to think and design some strategy for doing functional test for it

[2022-09-09 18:25] savannahostrowski commented on #617
Makes sense - do we have an issue tracking this investigation?

[2022-09-09 18:57] #600 closed

[2022-09-09 19:41] vhvb1989 opened #624 "Define some strategy to do functional testing for azd pipeline config"
Figure it out a way to prevent regressions for `azd` command `pipeline config` (other than unit test)

Make sure we can create and set up a GitHub repository, for example, and launch git actions

[2022-09-09 19:41] vhvb1989 commented on #617
We do now: https://github.com/Azure/azure-dev/issues/624

[2022-09-09 20:21] Austinauth commented on #255
@vhvb1989 You can find all the flow updates in [this prototype](https://www.figma.com/proto/iIRRiGPuKIfaSFfMJXcYle/azd-resource-provisioning?page-id=536%3A125674&node-id=536%3A125681&viewport=967%2C695%2C0.87&scaling=min-zoom) under the "UX Flows" section. Feel free to reach out if you have any questions or want to pair on anything!

[2022-09-09 20:23] Austinauth commented on #243
Solution proposals for each of the error states can be found in [this prototype](https://www.figma.com/proto/iIRRiGPuKIfaSFfMJXcYle/azd-resource-provisioning?page-id=536%3A125674&node-id=536%3A125681&viewport=967%2C695%2C0.87&scaling=min-zoom) under the Error Messages section. Team decided to hold off on the interactive error states for the time being.

[2022-09-09 21:47] puicchan opened #629 "[Issue] Todo templates for Terraform is missing prereq to install Terraform"
Using template from this PR: https://github.com/Azure/azure-dev/pull/623

Need to add under Prerequisite:
- Terraform. Link: https://docs.microsoft.com/azure/developer/terraform/quickstart-configure?source=recommendations

[2022-09-10 00:22] #622 closed

[2022-09-10 02:11] rajeshkamal5050 commented on #621
- https://github.com/Azure/azure-dev/pull/623 - fix

[2022-09-10 02:11] #621 closed

[2022-09-10 02:12] #547 closed

[2022-09-10 02:13] #234 closed

[2022-09-10 02:16] #385 closed

[2022-09-10 12:53] lechnerc77 opened #635 "[Issue] Deployment of Function - Targeting Function App"
- [X] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
azd version 0.1.0-beta.5 (commit 7bd25dd6f1b1899abf63b5f6f36d268a465183e4)

**Output from `az version`**
{
  "azure-cli": "2.39.0",
  "azure-cli-core": "2.39.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {}
}

**Describe the bug**
The scenario is a simple dep

[2022-09-10 18:12] #629 closed

[2022-09-12 17:40] savannahostrowski opened #637 "Design exploration for template discoverability"
Follows #418

Will need to consider web app design, CLI, VSCode and VS surface areas

Includes exploration + execution

[2022-09-12 17:41] savannahostrowski opened #638 "Design exploration for VS Code Integration"
Follows #571

Includes exploration + execution

[2022-09-12 17:45] savannahostrowski opened #639 "Graphics for azd storytelling + communications"
**Outcome:** strengthen azd brand, product positioning.
**Target audience:** LT, partners, open-source community

- [x] azd workflow
- [ ] condensing developer questions to commands
- [ ] @savannahostrowski's complex app -> azd simplicity ✨ narrative + deck
- [ ] deck template? (probably relevant for above)

[2022-09-12 17:47] savannahostrowski opened #640 "Design exploration for azdevify"
Follows #253

[2022-09-12 17:58] savannahostrowski commented on #571
cc: @fiveisprime This will be a focus area for me during October. Would love to mindmeld here :)

[2022-09-12 20:25] weikanglim opened #643 "Add `java` language support for azd services"
Tool pre-req: Java JDK 18
Default build tool: Maven

[2022-09-12 20:26] weikanglim opened #644 "Add `todo-java-mongo-aca` template"

[2022-09-12 20:33] wbreza opened #645 "todo-python-mongo-terraform: Cosmos DB is recreated each time."
When provisioning the template with terraform, the cosmos DB is destroyed and re-created on each run.

<img width="550" alt="image" src="https://user-images.githubusercontent.com/6540159/189753263-cc06bb6d-6658-44ec-bf12-4bb02c7e42f9.png">

[2022-09-12 21:44] karolz-ms opened #647 "todo-csharp-sql: API service needs to respond with OpenAPI spec when root document is requested"
## Repro steps
1. `azd up -t Azure-Samples/todo-csharp-sql`
2. `curl https://api-address/` (API address as displayed by the `up` command)

## Expected
See OpenAPI (Swagger) doc describing the API offered

## Actual
Nothing, just empty response

[2022-09-13 03:31] puicchan opened #652 "deployment not found for azd monitor"
Used build from https://github.com/Azure/azure-dev/pull/650.

`azd init -t Azure-Samples/todo-python-mongo-terraform -b pr/650
`

Error: discovering resource groups from deployment: fetching current deployment: deployment not found

[2022-09-13 04:00] rajeshkamal5050 opened #653 "[Issue] nodejs and python terraform templates - Planning infrastructure provisioning failed"
**_Templates todo-python-mongo-terraform and todo-nodejs-mongo-terraform fails during Planning infrastructure provisioning with same error_**

**_Pipeline run_** - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1846110&view=results

**_Logs:_**

Terraform has been successfully initialized!

You may now begin working with Terraform. Try running "terraform plan" to see
any changes t

[2022-09-13 05:58] rajeshkamal5050 commented on #652
@puicchan Does `azd monitor` work for Bicep templates?

[2022-09-13 06:32] rajeshkamal5050 commented on #653
Did not see this issue when running the terraform templates locally. Not sure if this is an issue with pipelines.

[2022-09-13 13:13] v-xuto opened #654 "Deployment is not valid according to the validation procedure in todo-nodejs-mongo-swa-func"
**Describe the issue:**
Create resource failed when execute command `azd up`.

**Repro Steps:**
1. Execute command `az login --use-device-code`
2. Execute command  `bash  ./test-templates.sh -c false -t todo-nodejs-mongo-swa-func -b staging`.
3. Execute command `azd env new`
4. Execute command `azd up`

**Error Message:**
![image](https://user-images.githubusercontent.com/57166602/189908654-1d0b94

[2022-09-13 13:37] zedy-wj opened #655 "The password does not meet policy requirements because it is not complex enouth."
**Describe the issue:**
Failed to execute `azd pipeline config` command.

**Repro Steps:**
1. Run command: `azd pipeline config`.
2. Navigate to your new repo and click `Actions` module.

**Error Message:**
![image](https://user-images.githubusercontent.com/81678720/189909212-1da39d8d-d4fe-4ac5-ac60-40d5d9dfdb37.png)

For more details, click [here](https://github.com/zedy-wj/zedytest14-todo-csharp

[2022-09-13 13:39] zedy-wj opened #656 "Deployment is not valid according to the validation procedure."
**Describe the issue:**
Deploy failed when we try to run the file: "test-templates".

**Repro Steps:**
After `az login` , run `bash ./test-templates.sh -t Azure-Samples/templates -c false`.

**Error Message:**
![image](https://user-images.githubusercontent.com/81678720/189911889-60ce3735-f065-49e5-8254-768fd2c2f1c0.png)

**Environment:**

- **todo-nodejs-mongo-aca**: Windows desktop, Linux Desktop

[2022-09-13 13:43] hongli750210 opened #657 "Fetch current deplyment : deployment not found"
**Describe the issue:**
Failed when we try to run the command `azd monitor --live`

**Repro Steps:**
1. Run ` az login --use-device-code`
2. Run `azd up -t todo-python-mongo-terraform -b staging`
3. run `azd monitor --live`

**Error Message:**
![image](https://user-images.githubusercontent.com/74638143/189913113-faa08b0e-89cd-40a8-b4f8-8d0d5a9c8550.png)

**Environment:**
Windows desktop / linnux d

[2022-09-13 13:43] hongli750210 opened #658 "`azdo pipeline` - Terraform remote state is not correctly configured"
**Describe the issue:**
Failed when we try to run the command `azd pipeline config`

Repro Steps:
1. Run `az login --use-device-code`
2. Run `azd up -t todo-python-mongo-terraform -b staging`
3. Run `azd pipeline config`

**Error Message:**
![image](https://user-images.githubusercontent.com/74638143/189909864-8c5504c3-9218-448b-8692-043791237591.png)

**Environment:**
Windows desktop / linnux desk

[2022-09-13 13:52] v-jiaodi commented on #197
In other environments and templates，we have found the same issue recently . we have updated the issue description.

[2022-09-13 15:01] wbreza commented on #658
This is by design when remote state has not been configured correctly.

[2022-09-13 15:05] wbreza commented on #653
How was this run? Logged in as standard user or service principal? Running locally or in a pipeline?

[2022-09-13 15:09] rajeshkamal5050 commented on #653
@wbreza
Pipeline run - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1846110&view=results

[2022-09-13 15:17] rajeshkamal5050 commented on #197
Marking it as a blocker since it seems to have happened in other environments and templates recently.

@vhvb1989 can you take a look and update?

[2022-09-13 15:20] rajeshkamal5050 commented on #657
Same #652 issue. @wbreza please feel free to close one.

[2022-09-13 15:32] rajeshkamal5050 commented on #652
Closing this one in favor of #657

[2022-09-13 15:32] #652 closed

[2022-09-13 15:37] HadwaAbdelhalem commented on #653
@rajeshkamal5050  looking at the pipeline the ARM vars are set as pipeline variables but are not added to the task that runs the test. the fix is by adding an Env section to the task on line 170.

 env:
      # Required for Terraform service principal authentication
        ARM_CLIENT_ID: $(arm-client-id)
        ARM_CLIENT_SECRET: $(arm-client-secret)
        ARM_TENANT_ID: $(arm-tenant-id)

I do

[2022-09-13 15:43] rajeshkamal5050 commented on #653
@danieljurek can you help @HadwaAbdelhalem

[2022-09-13 15:47] danieljurek commented on #653
This looks like we need to copy over [the environment variables](https://github.com/Azure/azure-dev/blob/main/eng/pipelines/release-cli.yml#L119-L121) from our live testing and put them in our [template testing step](https://github.com/Azure/azure-dev/blob/main/eng/pipelines/template-tests.yml#L94-L106).

Making the PR now.

[2022-09-13 15:54] rajeshkamal5050 commented on #656
@wbreza @zedy-wj

FYI, Not seeing deployment failures for these templates in the pipeline runs.

[2022-09-13 16:16] karolz-ms commented on #655
The problems is the version of `azd` used by the pipeline is old, so the password generation for the SQL database did not happen.

The azd image used by the pipeline needs to be updated to the 0.2 version of azd. Then the error should disappear.

[2022-09-13 16:23] wbreza commented on #656
**Internal error is the following:**

Inner Errors:
{"code": "MaxNumberOfRegionalEnvironmentsInSubExceeded", "message": "The subscription 'faa080af-c1d8-40ad-9cce-e1a450ca5b57' cannot have more than 10 environments in East US 2."}

We've exceeded the number of container app environments per subscription in this region.  I will go ahead and remove some of the old test resource groups that have not

[2022-09-13 16:46] HadwaAbdelhalem commented on #653
@rajeshkamal5050  can we close this one as fix PR got merged?

[2022-09-13 16:49] wbreza commented on #657
`azd montor` updates were missing during terraform development.   Right now the command queries the ARM data plan to get the recent deployments which it is unable to find since the deployment was performed by terraform.

To resolve this issue we would need to perform the following:

1. Update command to call into provisioning manager.
1. Update `GetDeployment` method in terraform provider to query

[2022-09-13 17:11] savannahostrowski commented on #578
@jongio I'm not totally clear on all the places where we are shelling out to `az` under the hood beyond just for auth. When you have some time, could you add some details here on what this might look like/what we need to consider?

[2022-09-13 17:30] Austinauth commented on #243
@rajeshkamal5050 is there someone I should be pairing with on the dev side for implementation?

[2022-09-13 17:41] vhvb1989 opened #661 "Define the strategy for creating a new azd template repo in Azure-Samples"
The current approach is to create a private repository with a `staging` branch and to make the repository public once it is ready.
For the time it becomes `public`, we need to create a `main` branch as the default and use the commits from `staging`.  Then `staging` should continue to be the `development` vehicle for that template

New suggested approach

- Create public branch since the beginning.

[2022-09-13 17:55] rajeshkamal5050 commented on #243
Please work with @vhvb1989 on this.

[2022-09-13 17:56] rajeshkamal5050 commented on #645
Triage Update: @HadwaAbdelhalem to take look at update on the next steps.

[2022-09-13 17:56] rajeshkamal5050 commented on #653
Done @HadwaAbdelhalem

[2022-09-13 18:51] Austinauth commented on #593
Closed in favor of Epic in the roadmap board #637

[2022-09-13 18:51] #593 closed

[2022-09-13 19:54] vhvb1989 commented on #197
I am able to reproduce it by logging `az` with `az login --use-device-code`

This seems to be an issue/limitation of logging `az cli` in using a device-code on Linux.

The workaround is to use `az login` alone and use a web browser to do the logging in

[2022-09-13 20:03] rajeshkamal5050 commented on #197
Removing blocker based on above update. Let us try to document it as a limitation based on
- https://github.com/Azure/azure-cli/issues/17273

@vhvb1989 can you work with @puicchan to get it documented.

[2022-09-13 20:05] vhvb1989 commented on #197
See issue:
https://github.com/Azure/azure-cli/issues/17273

It is expected to fail auth on Linux.

As a workaround, people can log in with a service principal before running `az pipeline config`  (just need to make sure to use the required scope to the service principal to be able to create and assign another service principal)

[2022-09-13 20:09] HadwaAbdelhalem commented on #658
this expected behavior with remote state config not set. @rajeshkamal5050 can we close this one?

[2022-09-13 20:18] #657 closed

[2022-09-13 20:40] vhvb1989 commented on #197
Also related issues and workarounds
https://github.com/Azure/azure-cli/issues/16401
https://github.com/Azure/azure-cli/issues/19652
https://stackoverflow.com/questions/68892711/azure-ad-authentication-error-aadsts50005-on-linux

[2022-09-13 20:48] #645 closed

[2022-09-13 20:57] danieljurek commented on #661
Repos with nothing in the `main` branch look pretty bare. Is there a way to programmatically construct something to put in `README`... otherwise people will stumble across these repos and wonder why they're empty and when they'll be filled.

On merge to main:
* Update the description
* Set the topics
* Ensure repo is not private? (will we ever have a need to release to `main` and keep the repo pri

[2022-09-13 20:59] Austinauth opened #663 "UX Explorations: Design Guidance & Patterns for Secondary azd Commands (Help, Down, Template)"
[Placeholder - Description coming soon]

### Design Patterns Need
- Table

### UX Flows Needed
- `azd --help` - #822
- `azd down`
- `azd template`
- "No prompt" scenarios - follow up with Victor.

[2022-09-13 21:01] karolz-ms commented on #655
I am going to close this because there is nothing do do on our side.

@zedy-wj would appreciate verifying that after changing to a recent `azd` image in pipeline definition e.g. `azdevcliextacr.azurecr.io/azure-dev:pr-660` the problem no longer repros. If it does, please re-open.

[2022-09-13 21:01] #655 closed

[2022-09-14 00:12] hemarina opened #667 "[Issue] pipeline run template test create and delete item fail - playwright dependencies - ubuntu image upgrade"
Each template tests fail on create and delete item:
[code]

We might need to add these dependencies/libraries.

[2022-09-14 14:09] KSchlobohm commented on #602
@karolz-ms this surfaced again today and the response code was HTTP 202 so I looked at the message closer. It seems the error log was captured in kudu.

[code]

[2022-09-14 15:36] rajeshkamal5050 commented on #654
Duplicate of #656

[2022-09-14 15:36] #654 closed

[2022-09-14 16:44] weikanglim commented on #363
From a service development perspective, fetching KeyVault secrets in-application is a cheap-way for services to implement auto-secret rotation by polling KeyVault periodically. Obviously, this is not a scalable solution, and a push-model is likely to be chosen if there are high number of service/instances per KeyVault. This would be one reason to stick to KeyVault polling in-application. However,

[2022-09-14 17:54] ellismg commented on #635
Hi @lechnerc77,

Thanks for sharing the sample repository.

Your intuition is right here.  If `resourceName` is not set, `azd` will try to discover the correct resource to target. It does this by looking at all the resource groups for your application and then for a resource tagged with `azd-service-name` with a value that matches the key for the service in `azure.yaml` (in your sample app, this i

[2022-09-14 17:54] karolz-ms commented on #602
@KSchlobohm 202 is a success code... are you saying `azd` treated it as an error?

[2022-09-14 19:03] philliphoff opened #675 "[Engineering] Remove VS Code extension dependency on `fs-extra`"
Much of the original need for `fs-extra` (e.g. async file system APIs) in the VS Code extension has been supplanted by APIs now provided by the runtime instead. Moving to those new APIs could allow removal of `fs-extra` as a dependency and provide one less source of compliance and governance alerts, as well as helping reduce the size of the extension package.  Moving away from `fs-extra`has been a

[2022-09-14 19:22] weikanglim opened #676 "Define checklist for new templates to be checked in `azure-dev` repo"
As we start thinking about involving partners and community members in template contributions, it would be good for us to document requirements and guidelines. Defining what this means for templates checked in to `azure-dev` repo is a good start. In the future, we can also document these as best practices (with softer guidelines) for public/private template development outside of `azure-dev`.

My

[2022-09-14 19:25] weikanglim commented on #676
@savannahostrowski @puicchan Do you have any hard guidelines around product-related requirements we can think about for new templates? I'm looking for well-defined ones we can "enforce" by automated validation or review checklists. Obviously, there's an entire planning and strategic thought process when it comes to us working on templates, but I'm looking for the minimum bar for anyone to add a te

[2022-09-14 19:29] weikanglim commented on #676
@jongio @ellismg @wbreza other technical requirements we can think of?

[2022-09-14 19:30] weikanglim opened #677 "Define and support template development process"
- [ ] Define local development process.
- [ ] Define local testing process.
- [ ] Define PR validation + automated test process. See #676 for requirements
- [ ] #661
- [ ] Guidance for sequencing `azd` dependencies and validation. Needs to be caught during PR validation when surfacing to `azd template list`.

[2022-09-14 19:32] savannahostrowski commented on #676
I have some general thoughts that I've documented in here: https://microsoft.sharepoint.com/:w:/t/AzureDeveloperExperience-AzureAcceleratorsTeamInternal/ERAbjU0wc0BAssYUHa6eNT8B9IRUmUVnehxqofiBrVvUeg?e=Qsxvt3

*I've been meaning to share this with the team for review (will do that now), I've been busy 😅

[2022-09-14 19:34] lechnerc77 commented on #635
Hi @ellismg,

thanks a ton for the explanation. That clarifies the setup.
Did I miss that logic to determine the target resource I the documentation. If not I think this would be a great addition to the FAQ area.

[2022-09-14 19:57] vhvb1989 commented on #677
Some questions I have related to templates:

- Should a template define a version? (I think the current approach is to use git branches for versioning)
- Should it be a template repository schema? A way to tell azd where to discover/pull templates from
- Do we want to have the concept of `official templates` vs non-official templates ??  As a way to ensure flaky templates ?

[2022-09-14 22:38] weikanglim opened #681 "Categorize command-terminating errors in telemetry"
Currently, all errors when executing a command in `azd` is classified as an `UnknownError`. We should improve on this categorization to allow differentiating between types of errors.

We probably want to draw inspiration from HTTP error codes to create a hierarchical error type. The high-level error categorization should allow us to classify user vs. server errors.

[2022-09-15 07:02] Trubador commented on #93
Why do you think the code that pulumi creates with its cli is not sufficient? I am just curious.

[2022-09-15 07:40] Trubador commented on #93
I can see the benefit in that if everything is generated automatically with 1 command thus saving time. It was not related to @jaxxstorm comment.

[2022-09-15 08:02] TechWatching commented on #93
Yes, another related benefit is to be able to share templates that contain the application and the infrastructure code. Pulumi CLI is only about the infrastructure code. For people getting started using Azure, I believe it's nice to have some boilerplate (infra+app) to build an application that can be directly deployed to Azure.

[2022-09-15 08:09] Trubador commented on #93
Yes defintely. I was actually working on building a SaaS template for azure some time ago so I can see the benefit of that.

[2022-09-15 16:25] ellismg commented on #635
We do have some documentation on "AZD"-ify'ing your application, which does point this out (but it is somewhat buried in the prose):

https://docs.microsoft.com/en-us/azure/developer/azure-developer-cli/make-azd-compatible

I'll try to get something added to the FAQ (https://docs.microsoft.com/en-us/azure/developer/azure-developer-cli/faq) as well.

Thanks again for the feedback and for playing ar

[2022-09-15 16:38] weikanglim opened #683 "[Issue] `azd env list --output json` returns non-valid JSON output when later version of `azd` is available"
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
Run `azd version` and copy and paste the output here:
azd version 0.1.0-beta.5 (commit 7bd25dd6f1b1899abf63b5f6f36d268a465183e4)

**Output from `az version`**
Run `az version` and copy and paste the output here (minimum required version is 2.38.0):
{
  "azure-cli": "

[2022-09-15 16:50] karolz-ms commented on #683
People who upgrade to latest version will not suffer from problems with VS Code I presume?

Is this warning emitted to `stdout` or `stderr`?

[2022-09-15 16:50] jongio opened #684 "[Issue] azd init needs flag for overwrite setting"
In test-templates.sh, we use --no-prompt, which will accept the default "overwrite" setting, which is false.  But in this case, we want to overwrite the files.

We need to add a flag to azd init that allows us to specify the overwrite action.

[2022-09-15 16:53] weikanglim commented on #683
That's correct. The fix is to follow the message and upgrade `azd` to latest.

The warning is being emitted to `stdout`:
[code]

[2022-09-15 17:08] karolz-ms commented on #587
Done!! ☺️

[2022-09-15 17:08] #587 closed

[2022-09-15 17:57] lechnerc77 commented on #635
Thanks again and I will continue playing around 😃

[2022-09-15 18:39] ellismg commented on #647
https://github.com/Azure/azure-dev/pull/567 shows an example of us adding this for some other .NET projects.

[2022-09-15 18:52] ellismg commented on #635
I opened a PR to our FAQ that will add the following questions and answer:

[2022-09-15 18:52] #635 closed

[2022-09-15 19:12] KSchlobohm commented on #602
Sorry for the confusion, when I found the HTTP 202 code I thought it was another instance of the same error. The 202 status does not seem to be related to the kudu error above.

This is an instance of a different error with the same `azd deploy` operation

[2022-09-15 20:20] charris-msft opened #686 "[Issue] `azd up` error on WSL - "Could not find a part of the path...""
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
`azd version 0.2.0-beta.1 (commit 817a81ab44ac788ec2d3050e94ba0138c3a80ac3)`

**Output from `az version`**
[code]

**Describe the bug**
When running `azd up --template https://github.com/tonybaloney/django-on-azure` I get the following error:
[code]

The issue appear

[2022-09-15 21:54] ellismg commented on #683
Fixed with #685

[2022-09-15 21:54] #683 closed

[2022-09-15 22:01] ellismg opened #687 "Revisit our strategy for naming bicep outputs into the environment"
Today after a deployment we take all of the outputs the bicep module we deploy and add them to the `.env` file (and for .NET apps, we add them to the .NET Secret Store as well).

Since environment variables names are traditionally in `SCREAMING_CASE`, we used this convention for our bicep modules.  However, this is different from typical bicep modules, which will use `camelCase` (to match the casi

[2022-09-15 22:01] ellismg commented on #687
This can fold into the larger environment work I've been doing.

[2022-09-15 23:13] charris-msft opened #688 "[Issue] Python Web App Deployment taking longer with v0.2.0-beta.1"
- [X] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
`azd version 0.2.0-beta.1 (commit 817a81ab44ac788ec2d3050e94ba0138c3a80ac3)`

**Output from `az version`**
[code]

**Describe the bug**
With the previous version of azd I observed `azd up` templates for [this repo](https://github.com/tonybaloney/django-on-azure) taki

[2022-09-16 00:54] weikanglim commented on #688
Hey @charris-msft , would you mind rerunning `azd up --template https://github.com/tonybaloney/django-on-azure` with `debug` enabled (assuming it reproduces consistently), and sending the logs offline (debug logs might contain `az` debug logs which itself can be sensitive)?

`azd up --template https://github.com/tonybaloney/django-on-azure --debug 1>azd.out 2>azd.err`.

[2022-09-16 15:34] KSchlobohm opened #689 "Error from `azd deploy` if there are two resource groups"
**Output from `azd version`**
[code]

**Output from `az version`**
[code]

**Describe the bug**
After running an `azd deploy` I'm seeing an error even though the operation seems to have completed successfully.

In this scenario there are two resource groups deployed by `azd provision` and to inform `azd` how to proceed I'm using the **AZURE_RESOURCE_GROUP** env var to specify the resource group. T

[2022-09-16 15:51] KSchlobohm opened #690 "ResourceGroup should be at the service level and root of azure.yaml"
Opening this issue as part of a feature request. My goal is to develop an azd template that is capable of deploying a multiregional web app. The tricky part of this goal seems to be adding support for multiple environments (e.g. dev, qa, prod) and asking for different behaviors per environment.

1. For non-prod environments my goal is to choose cheaper SKU like 'B1' for Azure App Service Plan. For

[2022-09-16 16:22] karolz-ms commented on #602
Hmm. I have searched Kudu issues but haven't found anything that might be relevant.

@suwatch any ideas why Ken could intermittently get a ZipDeploy failure with "no log found for 'latest'" error?

[2022-09-16 19:14] charris-msft commented on #688
Hi @weikanglim -
I tried the command you suggested, but it just hung for about 20 minutes - I'm guessing the prompt for the environment name, region, etc was swallowed up by stdout.

I'll get the --debug, but without redirecting the output and share it in just a minute

[2022-09-16 19:54] #543 closed

[2022-09-17 02:24] #238 closed

[2022-09-18 13:12] lechnerc77 opened #694 "[Issue] Devcontainer shows many modified files when using .gitattributes on Windows"
- [X] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**

azd version 0.2.0-beta.1 (commit 817a81ab44ac788ec2d3050e94ba0138c3a80ac3)

**Output from `az version`**

{
  "azure-cli": "2.39.0",
  "azure-cli-core": "2.39.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {}
}

**Describe the bug**

When creating a new azd-c

[2022-09-19 16:38] jongio commented on #677
Templates are versioned in azure.yaml

[2022-09-19 18:25] ellismg opened #697 "Nightly Template Test Job failing for CSharp/SQL Templates due to KeyVault Issues"
Our nightly job which runs `test-templates.sh` is failing for the C# legs which use SQL:

Log: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1857691&view=logs&j=255759e9-95fd-5b22-cada-8803e798a082&t=e39b3856-d7f9-53f8-aecf-19f4626fff0c

The "test" part of the test actually passes (we correctly deployed the app and ran the playwrite tests against it) but we blow up when we try to

[2022-09-19 23:43] #482 closed, assigned to hemarina

[2022-09-20 00:03] vhvb1989 opened #698 "Add `Cancel` option to all input prompt"
When selecting something from a select list in a prompt (for example, the azure subscription during `env init`) there's no way to stop the process (other than killing doing `ctr+c` or closing the terminal).

All select/input from `azd` should have a Cancel option at the end to stop the flow.

[2022-09-20 00:37] vhvb1989 commented on #686
@charris-msft can you mention what version of WSL/distro are you using?  (is it Ubuntu-22.04 ??)

Also, what terminal are you using to connect to WSL?  (powershell / cmd / ? )

I'm having some trouble trying to replicate :),  so, hopefully it might be some specific-version that Iam missing

[2022-09-20 00:39] charris-msft commented on #686
Hey @vhvb1989 - I'm using Ubuntu 20.04.4 LTS

[2022-09-20 00:49] vhvb1989 commented on #686
thank you @charris-msft

Also, what terminal are you using to connect to WSL? (powershell / cmd / ? )

[2022-09-20 00:51] charris-msft commented on #686
Windows Terminal > Ubuntu
and
PowerShell > wsl

[2022-09-20 00:59] vhvb1989 commented on #686
I was able to run `azd up` from Ubuntu 22.04:
deployed app:
https://app-hhpzayqgotauy.azurewebsites.net/

Trying on Ubuntu 20.04 next

[2022-09-20 01:03] charris-msft commented on #686
one thing that I should perhaps mention is in Windows my source folder is a junction from d:\git to c:\git. However, under WSL it is located under /mnt/d/git/ as you would expect.

[2022-09-20 14:50] hattan opened #699 "Azdo Pipeline Provider - prompt user for PAT"
Prompt user for PAT if not found in the AZURE_DEVOPS_EXT_PAT environment variable. This is to improve the AzDo pipeline config experience by asking the user for a PAT and linking to documentation on how to create a PAT.

This should also provide instructions on how the user can set a PAT via environment variables so the user is not prompted repeatedly for a PAT.

[2022-09-20 14:52] hattan opened #700 "Azdo Pipeline Provider - ARM_ pipeline variables"
Modify the provider to only add the ARM_ variables if the selected provisioning provider is Terraform. This is to reduce the variables needed and simplifies credentials for non Terraform deployments.

[2022-09-20 14:53] hattan opened #701 "Add --provider to pipeline config command"
Provide an input mechanism to specify a provider from the command line for azd pipeline config

`azd pipeline config --provider azdo`

In addition , support a permanent provider override via azure.yaml

[2022-09-20 14:55] hattan opened #702 "AzDo Pipeline provider - Check if AzDo resources exists before creation"
In order to use multiple repos and pipelines in a project, check that a service connection and pipeline object exists before creation. This enables azd to skip creating those resources and throw an error.

[2022-09-20 16:30] jongio opened #703 "Remove openapi.yaml from root."
The file is in the /src/api folder and is not needed in the root.  It will save us from having to copy it to multiple places.

[2022-09-20 17:04] weikanglim commented on #643
Closing in favor of #416

[2022-09-20 17:04] #643 closed

[2022-09-20 17:04] weikanglim commented on #644
Closing in favor of #415

[2022-09-20 17:04] #644 closed

[2022-09-20 17:50] vhvb1989 commented on #686
thank you @charris-msft

This might be a wsl issue resolving the paths.

Are you creating a sym-link from your c:\git to d:\git ??

In order to have the same set up, please describe how you are setting up your folders.

Also, please note that when using `wsl`, it is recommended to use the folders/drive from wsl directly, instead of mounting folders from windows host. You would see a big performanc

[2022-09-20 18:12] charris-msft commented on #686
Here is the command I'm using to link from c:\git to d:\git (the goal is to have a c:\git folder, with the storage being on a separate physical disk)
`mklink /j c:\git d:\git`

This is a good question: "May I ask, is there a reason why you want to use the host folders for running azd from wsl?"

WSL is not my preferred way of working, but there is another issue regarding line endings when using `a

[2022-09-20 18:14] ellismg commented on #698
FWIW - if you hit CTRL+C during a prompt, Survey will return [`terminal.InteruptErr`](https://pkg.go.dev/github.com/AlecAivazis/survey/terminal#pkg-variables) from Ask/AskOne.  We should probably do the same thing for the cancel option, so calling code can behave the same way on Ctrl+C and an explicit cancel.

[2022-09-20 18:36] ellismg commented on #296
@hemarina has been doing some great work here and has a possible approach, but we are running into some issues.

While some services, Like App Service, can handle CORS on your behalf (we use this today: https://github.com/Azure-Samples/todo-nodejs-mongo/blob/59daadf7e1a764f3109f46809055ccc5f8ac9dd3/infra/resources.bicep#L25, which ends up [setting the `cors` setting for the actual AppService App w

[2022-09-20 18:45] vhvb1989 commented on #296
I would not make the CORS settings depend on running `provisioing` + `deploy`.
Can we, instead, add an extra step at the end of `provisioing` designed to set-up anything like this?  A step which is not related to a provisioning-provider (bicep, terraform, etc).  We would expect resources already deployed and we would just update the env to set the config.

[2022-09-20 18:54] vhvb1989 commented on #296
-- Optionally, we could consider removing the `ingress` from the `api service`
That would only make it reachable from the `web service` (from the same container environment).

This might be a more secured solution to recommend for customers

[2022-09-20 19:09] ellismg commented on #296
This is something we could explore, but I'm not 100% sure what the logic would end up looking like.  How would an application denote what happens during this post processing step?

Unsure this works - the API service has to be accessible on the public internet, right?  The calls from the SPA come from the end user's browser...

[2022-09-20 19:52] savannahostrowski opened #705 "As a developer, I can have azd generate all the required assets to deploy my web application with/without a database to Azure"
**v1 goal: Fingerprint JavaScript/Python web apps with/without Mongo/PostgreSQL databases, hosted on ACA w. Buildpacks**

Right now, we sort of leave the exercise of figuring out what services are needed to move an app to Azure up to the developer. We should be able to provide them with more of an opinionated take so that we can decrease the cognitive load. We should also do this in approachable,

[2022-09-20 21:28] rajeshkamal5050 opened #708 "Rename references from Devops to DevOps"

[2022-09-20 22:03] wbreza opened #709 "Deprecate AZ CLI usage within AZD"
The goal is to reduce upfront dependencies for new users of the `azd cli`.  The `az cli` has a large footprint and must be installed first today before `azd` can function

- #712
- #710
- #711
- #720
- #721
- #854 **_(Note: implementation adjustments/refactoring. not a must-fix for us to deprecate Az CLI)_**
- #871
- #955
- #1023

[2022-09-20 22:10] wbreza opened #710 "Register AZD as 1st party CLI app"

[2022-09-20 22:10] wbreza opened #711 "Implement `azd login` with golang `azidentity` module"
Update `azd login` command to leverage the Azure SDK Golang [azidentity module](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/azidentity)

[2022-09-20 22:10] wbreza opened #712 "Update usage of `az cli` command to use Azure golang SDK modules"

[2022-09-20 22:10] wbreza opened #713 "Update resource/group commands to use `armresources` golang module"
Update az commands to use the [armresources](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/resources/armresources) module.

Replace commands:
- `az resource list`
- `az resource show`
- `az group list`
- `az group delete`

[2022-09-20 22:10] wbreza opened #714 "Update account commands to use `armsubscriptions` golang module"
Update the account commands to use [armsubscriptions](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/subscription/armsubscription) module

Replace calls to:
- `az account list`
- `az account show`
- `az account list-locations`

[2022-09-20 22:11] wbreza opened #715 "Update container registry commands to use `armcontainerregistry` golang module"
Update container registry commands to use the [armcontainerregistry](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/containerregistry/armcontainerregistry) module.

Replace commands:
- `az acr login`

[2022-09-20 22:11] wbreza opened #716 "Update ad commands to use `azidentity` golang module"
Update the `aad` commands to use the [azidentity](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/azidentity) module.

Replace commands:
- `az ad signed-in-user show`
- `az ad create-for-rbac`

Likely to consume MS Graph Go SDK from https://github.com/microsoftgraph/msgraph-sdk-go

[2022-09-20 22:11] wbreza opened #717 "Update app service commands to use `armappservice` golang module"
Update appservice related service target commands to use the [armappservice](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/appservice/armappservice) module.

Replace commands:
- `webapp show`
- `webapp deployment source config-zip`
- `functionapp show`
- `functionapp deployment source config-zip`
- `staticwebapp show`
- `staticwebapp environment show`
- `staticwebapp secr

[2022-09-20 22:11] wbreza opened #718 "Update deployment commands to use `armresources` golang modules"
Update all deployment related commands to use the [armresources](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/resources/armresources) module.

Replace Commands:
- `az deployment sub show`
- `az deployment sub create`
- `az deployment sub delete`
- `az deployment operation sub list`
- `az deployment group show`
- `az deployment group create`
- `az deployment operation gro

[2022-09-20 22:11] wbreza opened #719 "Update keyvault commands to use `armkeyvault` golang module"
Update keyvault commands to use the [armkeyvault](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/keyvault/armkeyvault) module.

Replace Commands:
- `az keyvault show`
- `az keyvault secret show`
- `az keyvault purge`

[2022-09-20 22:37] wbreza opened #720 "Integrate telemetry useragent tracing into golang modules"
Since we will be migrating from `az cli` commands to use golang SDK modules we need to ensure that the same level of telemetry data can be captured easily and consistently across `azd` modules.

[2022-09-20 22:37] wbreza opened #721 "Update telemetry dashboards to pull data from any new telemetry stores"
Update internal telemetry dashboards to pull telemetry data from any new data stores based on changes to the azd module telemetry collection

[2022-09-21 03:07] zedy-wj commented on #197
@vhvb1989 We tried to log in with service principal before running `az pipeline config` in codespace environment, but it still prompted an insufficient permissions error.
**Login Command**: `az login --service-principal -u <app-id> -p <password-or-cert> --tenant <tenant>`
**Error Message:**
![image](https://user-images.githubusercontent.com/81678720/191403909-f5cce81d-384b-47aa-abcb-bf3c6761dd3b.p

[2022-09-21 18:18] weikanglim commented on #563
@charris-msft The way `azd up` currently works is by calling `git clone <templateUrl> --depth 1` and removing Git history. There is thinking to avoid `git clone` entirely in the future but there are other complications currently.

I suspect `core.autocrlf = true` might be setup on the Windows machine, which is causing the files to be rewritten to `CRLF` on checkout. For now, I think this can be re

[2022-09-21 19:23] ricardocovo opened #723 "[Issue] Failure when deploying template todo-nodejs-mongo-swa-func"
- [ ] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
azd version 0.0.1-beta.1651716 (commit 68f62f04440b519ba199ef5181b3722573d72c64)

**Output from `az version`**
[code]

**Describe the bug**
The `azd deploy` command is looking for the wrong resource group.

* The resource group created by `azd provision` is rg-{name}

[2022-09-21 19:39] rajeshkamal5050 commented on #723
@ricardocovo looks like you have a very old version of azd. Can you try with the latest bits? https://github.com/Azure/azure-dev/releases/tag/azure-dev-cli_0.2.0-beta.1

[2022-09-21 20:36] hattan opened #725 "Pipeline Config - Switch default branch to main."
The azd pipeline config command currently configures the local repo with master a default branch if a git repository is not initialized. This behavior happens for both GitHub and the new Azure DevOps provider.

This should be changed to main as that is the new industry standard for git default branches.

[2022-09-21 20:59] vhvb1989 commented on #197
You need the `system access administrator`
See and try this: https://github.com/Azure/azure-dev/issues/134#issuecomment-1208592571

[2022-09-21 21:59] charris-msft commented on #563
editing the `.gitattributes` does sound like a nice, albeit non-obvious, workaround. I think it's great for templates we create, and perhaps we should even build something that scans Azure-Samples for azd templates to make sure it's specified.
Would love to get @tonybaloney's take as he's more acquainted with this than I am.

[2022-09-22 06:21] zedy-wj commented on #197
@vhvb1989 - Thanks for your reply, but the issue https://github.com/Azure/azure-dev/issues/134#issuecomment-1208592571 is not related to the problem we are having. Our current problem is that after logging in with the service principal, we do not have permission to create or update service principal (When execute command: `azd pipeline config`).
The specific error message is:
[code]

Besides, acco

[2022-09-22 12:33] ricardocovo commented on #723
Thanks @rajeshkamal5050! I retried and the new version fixed the issue.

[2022-09-22 15:50] savannahostrowski commented on #398
cc: @nitya

[2022-09-22 17:32] vhvb1989 commented on #197
That won't be possible for Microsoft tenant. Microsoft does not allow admin consent for testing purposes.

If you want to have a SP with admin consent, you can use a different tenant (you can set up your own Azure subscription and tenant from https://my.visualstudio.com/ ).

But, coming back to the original question and flow (not using a SP to login), can you mention what Azure subscription are yo

[2022-09-22 18:17] vhvb1989 commented on #686
I would totally recomend using `WSL`, but working directly from the `~/` directory (your home folder).
Using `/mnt` would give you a poor experience.

Everything should work fine for you if you run this (from WSL)
[code]

[2022-09-22 18:30] vhvb1989 commented on #686
Also, have you considered mounting `d:` to `WSL` and directly using `d:\git` from wsl. Instead of using `c:` as router?

[2022-09-22 19:12] jongio commented on #725
It should use the default on the machine.  I don't think we specify it directly.

[2022-09-22 20:19] vhvb1989 commented on #725
After cloning a template, there's not git-repo settings.  azd would ask customers if they want to init a git repo when running `azd pipeline config`

When saying yes, we can set the initial branch name to `main`.   (azd is currently just calling `git init`)
Depending on git version, we can either use the `--initial-branch` argument (from git >= 2.28) or call `git checkout origin` after calling ini

[2022-09-22 20:50] rajeshkamal5050 opened #733 "Architecture diagrams for Java support - App Service & ACA"
For todo-java-mongo-aca & todo-java-mongo.

We need Java versions of the architecture diagram on:
1. https://github.com/azure-samples/todo-nodejs-mongo.
2. https://github.com/azure-samples/todo-nodejs-mongo-aca

Replace nodejs with the Java Duke icon https://developer.microsoft.com/en-us/Java.

[2022-09-22 20:58] Austinauth commented on #639
**Update 09/22/2022**

Diagram for `azd` workflow completed

#### Light Mode
![Image](https://user-images.githubusercontent.com/6994218/191849786-2acb2f6f-dafd-46d8-b9e4-5fc14ec5a74b.png)

#### Dark Mode
![Image](https://user-images.githubusercontent.com/6994218/191849858-7f67c119-38ed-4633-8df9-3abddbbf07ef.png)

[2022-09-22 21:10] Austinauth commented on #594
**Update 09/22/2022**
- Learned how extensions work in VS Code
- Captured initial Questions
- @savannahostrowski can you add details to the [questions doc](https://microsoft-my.sharepoint.com/:w:/p/austinauth/EawReZIeIcZImaGzMr3hTpIBE_Jx4PfmgDCPn4xhnzvngA?e=f0PXVU) where you're tagged before I'm back on Oct 10th?

[2022-09-22 21:27] Austinauth commented on #733
### Java Mongo
![image](https://user-images.githubusercontent.com/6994218/191853739-52d07641-d6e6-49d2-9491-e7c4921325c7.png)

### Java Mongo ACA
![image](https://user-images.githubusercontent.com/6994218/191854051-5a2e28b1-5961-4d8b-82a8-a29939fe9f04.png)

I think these should be good, but @rajeshkamal5050 @puicchan take a moment to make sure they're okay next chance you get.

[2022-09-22 23:19] savannahostrowski opened #735 "[Issue] Use main as default branch on azd pipeline config"
All of our templates use "main" as their default branch. When we create repos on behalf of users via `azd pipeline config`,  we should use this same convention.

![image](https://user-images.githubusercontent.com/8949415/191867471-716d6d74-b9cb-4fff-b39e-cccd3e9480ca.png)

[2022-09-22 23:23] jongio commented on #735
Can you confirm that your default git branch is main?

[2022-09-22 23:34] jongio commented on #725
Okay, yeah, should default to main.

[2022-09-23 00:10] vhvb1989 commented on #735
possible duplicate from: https://github.com/Azure/azure-dev/issues/725

[2022-09-23 00:15] vhvb1989 commented on #735
Running `azd up` clones a template and removes the .git folder (so any branch info or remotes are lost)
Then, when running `azd pipeline config`, git is initiated using default branch `master`.

If you manually clone a template (git checkout template-url) and run `azd pipeline config`, you will get an error when trying to push at the end because your `origin` remote would be set to Azure-Samples u

[2022-09-23 04:09] zedy-wj commented on #197
@vhvb1989 - We have added SP as Contributor for the Azure subscription (Azure SDK Developer Playground) that we are using, but it also failed. Taking the `Linux Ubuntu 20.04` environment as an example, we have tried the following three login methods:

1. `azd login`: As mentioned above, it doesn't work in `Ubuntu 20.04`.
2. `az login --use-device-code`: In this way, it helped us to pass the login

[2022-09-23 14:59] jongio opened #736 "[Issue] Codespaces az login isn't working"
From a Codespace if you run any azd command.  It will attempt to login without --use-device-code.  We have detection in there to use that flag if in codespace, so I think we have a regression here.

[2022-09-23 16:39] puicchan opened #737 "azdo support - prompt about storing PAT in .env should be updated"
Using build from  https://github.com/Azure/azure-dev/pull/693.

azd version 0.2.0-beta.2-pr.1866404 (commit b99dc058786940761bd8adc1d2865e0936d0e5b5)

Now, it says:
"Would you like to PAT to the node922b environment file (.env)?"

Should be:
"Would you like to save the PAT to the node922b environment file (.env)?"

(node922b is my environment name)

[2022-09-23 17:31] abpiskunov opened #738 ""azd login --check-status --output json" does not output the failure in a JSON format"
We call this command "azd login --check-status --output json"  from VS before doing refresh or provision to see if we need to authenticate user first. It is supposed to return a json back with login status.
It sends this to me now:

[code]

instead of json.

I just downloaded latest daily build.

[2022-09-23 17:32] abpiskunov commented on #738
this is a POCO model we used to deserialize the output:

[code]

[2022-09-23 17:50] rajeshkamal5050 commented on #735
Closing this in favor of
- #725

[2022-09-23 17:50] #735 closed

[2022-09-23 19:12] ellismg opened #739 "Consider stripping symbols from release bits"
We should investigate building the bits we ship with `-ldflags '-s -w'` or something similar to remove debug symbols.  We should see how much worse this makes the `panic()` experience as well as the output when running with `--debug`, but it could be a good size win for us.

Possible that we could end up in a place where we have released bits which are stripped and then unstripped versions which w

[2022-09-23 19:38] abpiskunov opened #742 "azd infra create and env refresh out put formats changed and VS cannot get information it needs"
When --output json was specified, both refresh and provision operations at the ends sent similar objects, containing summary information about status, output resource IDs and ouput parameters.

With latest daily build downloaded today, i see that outputs are changed and VS cannot now get information it needs:

for refresh current output is this:

[code]

when it used to be something like provision

[2022-09-23 19:39] abpiskunov commented on #742
Actual ouput for provision operation (azd infra create):
``
[
  {
    "id": "/subscriptions/07268dd7-4c50-434b-b1ff-67b8164edb41/providers/Microsoft.Resources/deployments/AntonTestCos1/operations/C01E6E57F49CA659",
    "operationId": "C01E6E57F49CA659",
    "properties": {
      "provisioningOperation": "Create",
      "provisioningState": "Succeeded",
      "targetResource": {
        "id": "/sub

[2022-09-23 19:40] abpiskunov commented on #742
Expected output that VS used to receive:

[code]

[2022-09-23 19:41] abpiskunov commented on #742
There several things to keep in mind:
- how can we prevent from such breaking changes to happen again
- we could adjust to a new format, however we need data to be sent back again like resources that were in the final summary json object.

[2022-09-23 20:34] abpiskunov commented on #738
Also, in the failure case Exit Code is 1 as seen in the output above. Should it be 1? the result of the command is an object which already contains IsLoggedIn true/false. Exit code should be nonzero only when command literally failed to achieve the result, not the result=false?

[2022-09-23 22:12] ellismg commented on #742
The regression here happened as a side effect of our terraform support.  Before, the output of both of these commands was just the deployment object (for `provision` it was the deployment object for the deployment we just did, for `env refresh` it was the most recent deployment).  Since Terraform doesn't use ARM deployments under the hood (instead it just calls the control plane directly for each

[2022-09-23 22:36] abpiskunov commented on #742
Yes we need the list of successfully provisioned resourceIds in a separate section for provision. For refresh , same thing all resourceIds that are successfully pinged by refresh operation.

For provision, we need those status objects to show what is happening during provision operation to each resource and show it in the VS output. We do parse those individual status jsons and print only resource

[2022-09-23 22:54] ellismg commented on #742
100% agree here.  The output should be uniform today between bicep and terraform, it's just that it doesn't have any of the information that VS needs.  The regression was caused by trying to return the same output for both cases, because it meant we had to drop data.  But we dropped too much data, and ended up breaking VS, so now we need to start returning more data.  For Bicep, that's easy.  For

[2022-09-24 01:10] jongio commented on #472
@danieljurek  - Can you investigate what it would take for us to get azd in cloud shell?

Repo: https://github.com/Azure/CloudShell
Example: https://github.com/Azure/CloudShell/pull/197

[2022-09-24 01:12] jongio opened #744 "Chocolatey package support"
### Discussed in https://github.com/Azure/azure-dev/discussions/682

<div type='discussions-op-text'>

<sup>Originally posted by **flcdrg** September 14, 2022</sup>
I've created a Chocolatey package to facilitate installing/upgrading the Azure Developer CLI

https://community.chocolatey.org/packages/azure-developer-cli</div>

[2022-09-24 01:13] jongio commented on #744
@flcdrg and @danieljurek - Can you investigate what it would take to integrate the publishing to choco from azure/azure-dev repo?

[2022-09-24 07:10] flcdrg commented on #744
The source files for the current package are in https://github.com/flcdrg/au-packages/tree/master/azure-developer-cli

You'll need to create a Chocolatey account. Let me know what the account name is and I can add you as a co-maintainer on Chocolatey.org.

You'll need to obtain your API key (similar to nuget.org) and store that somewhere (eg. GH Actions secret). You pass that through to the Chocol

[2022-09-24 12:19] tebeco commented on #108
wrong link @rajeshkamal5050 ?
![image](https://user-images.githubusercontent.com/2266487/192097549-949a8708-a7e3-41dc-8b46-17f899cbe2c5.png)

[2022-09-26 08:23] hongli750210 commented on #658
@HadwaAbdelhalem
Please tell us how to set the value of `remote state` and what is the value of `remote state` that can successfully execute `azd pipeline config`.

[2022-09-26 17:19] vhvb1989 opened #745 "Should this name include the project or repository name embedded in here? I'd hate to have multiple "Azure Dev Deploy" pipelines from different template repositories."
When creating azdo pipeline, the name should have a name that describes the project

[2022-09-26 17:28] vhvb1989 opened #746 "Improve all azdo error messages with more description"
Should this be `fmt.Errorf("configuring pipeline: %w")`?

_Originally posted by @weikanglim in https://github.com/Azure/azure-dev/pull/743#discussion_r980279125_

All errors should be more descriptive about where the issue is coming from and if possible with a hint about how to fix it.
For example, try using an invalid PAT or with insufficient scope roles. The errors should mention what role is mi

[2022-09-26 17:36] danieljurek commented on #744
I've done a little reading on the docs. Here's what I see...

## Installer logic

### Script (using tools we have today)

@flcdrg would there be any major drawbacks to wrapping our existing install script?

I recommend we use `install-azd.ps1` and set options like `-Version`, `-InstallFolder`, and `-NoPath` to install to the configured locations in https://github.com/flcdrg/au-packages/blob/master

[2022-09-26 18:07] vhvb1989 opened #747 "Given this is a public method, I think the code comment should probably be written in terms of public consumption, unless it's not meant to be public."
Given this is a public method, I think the code comment should probably be written in terms of public consumption, unless it's not meant to be public.

_Originally posted by @weikanglim in https://github.com/Azure/azure-dev/pull/743#discussion_r980292856_

[2022-09-26 18:26] vhvb1989 opened #748 "Is there anything more reliable? Status code, operational codes.."
Is there anything more reliable? Status code, operational codes..

_Originally posted by @weikanglim in https://github.com/Azure/azure-dev/pull/743#discussion_r980333112_

[2022-09-26 20:46] rajeshkamal5050 commented on #386
Closing this in favor of #370

[2022-09-26 20:46] #386 closed

[2022-09-26 20:46] rajeshkamal5050 commented on #736
Related to #370

[2022-09-26 20:48] #733 closed

[2022-09-26 20:51] puicchan opened #749 "Bicep - similar to KeyVault, applicationInsights should not be required"
If I start azdev-ify when I know nothing about Azure, I am not sure if I want to include Azure Monitor. Today, Bicep modules are structured in a way that applicationInsights is required.

What would help is to update:

`appservice.bicep`:

[code]

and

[code]

`web.bicep` -> `param applicationInsightsName string = ''`
`appservice.bicep` -> `param applicationInsightsName string = ''`

[2022-09-26 21:03] #694 closed

[2022-09-26 21:07] rajeshkamal5050 commented on #688
Hey @charris-msft did you get the debug output?

[2022-09-26 21:11] rajeshkamal5050 commented on #677
Related to #287

[2022-09-26 22:15] vhvb1989 opened #750 "azdo - service principal needs to be updated on every run"
azd will either create a new SP or rotate the secrets for an existing SP.

when using this SP for Azdo, azdo must always update the service connection to use the latest credentials for the SP.

It is currently skipping and trying to re-use the same service connection created initially, which is not valid any more after a secret rotation.

[2022-09-26 22:57] wbreza commented on #713
Resolved with azure/azure-dev#713

[2022-09-26 22:58] #713 closed

[2022-09-27 05:50] rajeshkamal5050 opened #751 "Move bicep modules into registry"
Bicep has the ability to reference modules that are contained within an Azure Container Registry.

That registry can be public or private.

For azd, we'll want our modules stored in a public registry so our end users don't need to authenticate to that registry.

For that we have two options:

1. Build our own
2. Use the Bicep public registry https://github.com/Azure/bicep-registry-modules

I would

[2022-09-27 16:21] danieljurek commented on #667
This was an image issue and is now fixed.

[2022-09-27 16:21] #667 closed

[2022-09-27 16:41] danieljurek commented on #472
Addressed in https://github.com/Azure/CloudShell/pull/248

[2022-09-27 16:52] vhvb1989 opened #752 "Azdo provider for pipeline config creates a new pipeline in azdo on every run"
Running `azd pipeline config` multiple times without pushing code to the repo would create multiple pipelines.

This is not a good approach because all pipelines would be triggered as soon as code is pushed to the repo.

For example, running `azd pipeline config` 3 times gave me:

![image](https://user-images.githubusercontent.com/24213737/192588090-95e27ece-17ba-4b4d-a51f-5554f3633786.png)

To be

[2022-09-27 17:54] savannahostrowski opened #753 "[Issue] Remove node install as a prereq from our docs?"
I'm not clear on why we need users to install node/npm to use the CLI -
https://learn.microsoft.com/en-us/azure/developer/azure-developer-cli/get-started?tabs=bare-metal%2Cwindows&pivots=programming-language-nodejs#prerequisites

![image](https://user-images.githubusercontent.com/8949415/192600462-5a84bc62-1174-45e0-80dc-1c81297e8370.png)

It makes sense if you are using a JS template but do we ne

[2022-09-27 17:59] vhvb1989 opened #754 "Azdo provider - Implement Pager<T>"
All the calls to Azure DevOps returns a list of items and a continuation token.

The current implementation is not checking the continuation token.  This makes Azdo provider useless for organizations with many projects or many pipelines, as it is not listing all of them correctly

[2022-09-27 19:59] puicchan opened #755 "Git push error for azdo"
PR 743 build -
azd version 0.2.0-beta.3-pr.1877365 (commit 33710f9beab18fc32168ae2e02768f2697bdc164)

**Scopes of PAT**
Agent Pools (read, manage)
Build (read and execute)
Code (full)
Project and team (read, write and manage)
Release (read, write, execute and manage)
Service Endpoints (read, query and manage)

[code]

I ran this again with --debug. This time, I am prompted for credential. A new PA

[2022-09-27 20:10] puicchan commented on #753
You don't need node. Pls refer to new staged link for the new install page. Content will be live tomorrow.

[2022-09-27 20:20] vhvb1989 opened #756 "Azdo implementation - Code enhacements"
See:
https://github.com/Azure/azure-dev/pull/743/files#r980372369
https://github.com/Azure/azure-dev/pull/743/files#r980374906
https://github.com/Azure/azure-dev/pull/743/files#r980377653
https://github.com/Azure/azure-dev/pull/743/files#r980379045
https://github.com/Azure/azure-dev/pull/743/files#r980553437
https://github.com/Azure/azure-dev/pull/743/files#r980566578
https://github.com/Azure/azur

[2022-09-27 20:24] HadwaAbdelhalem commented on #658
@hongli750210  you can follow the steps here https://learn.microsoft.com/en-us/azure/developer/azure-developer-cli/use-terraform-for-azd

[2022-09-27 20:43] #101 closed

[2022-09-27 20:43] #737 closed

[2022-09-27 20:43] #750 closed

[2022-09-27 20:48] ellismg commented on #603
This was done in https://github.com/Azure/azure-dev/pull/616

[2022-09-27 20:48] #603 closed

[2022-09-27 20:55] savannahostrowski commented on #398
Marking this as closed now that the POC is complete.

[2022-09-27 20:55] #398 closed

[2022-09-27 22:49] puicchan opened #759 "azdo - "Argument args.Project can not be nil or empty" error if I run azd pipeline config in a new environment"
PR 743 build -
azd version 0.2.0-beta.3-pr.1877365 (commit https://github.com/Azure/azure-dev/commit/33710f9beab18fc32168ae2e02768f2697bdc164)

Argument args.Project can not be nil or empty
azd init -t Azure-Samples/todo-nodejs-mongo -b pr/743
azd pipeline config --provider azdo
azd env new
azd pipeline config --provider azdo

**Scopes of PAT**
Agent Pools (read, manage)
Build (read and execute)
C

[2022-09-28 00:15] weikanglim commented on #697
The issue has to do with the `AZURE_KEY_VAULT_NAME`. It seems to be set to `keyvault` -- which is probably not a keyvault we own (KeyVault names have to be globally unique)

In the error:

[2022-09-28 00:52] hattan commented on #752
This is a problem if you are running azd pipieline config multiple times. However, this was introduced specifically to address and allow multiple repos in the same project to have different pipelines. Since AzDo supports multiple repos, it is possible to have multiple azd repos in a single project each with their own pipeline.

We should check to see if there is a pipeline for the current repo and

[2022-09-28 02:05] rajeshkamal5050 commented on #752
Fixed duplicate pipeline creation as part of PR
- https://github.com/Azure/azure-dev/pull/757

[2022-09-28 02:05] #752 closed

[2022-09-28 02:44] rajeshkamal5050 opened #763 "Pipeline - azure-dev - cli - GenerateReleaseArtifacts -> Create docs artifact folder failing"
Build pipeline - `azure-dev - cli` is failing
- GenerateReleaseArtifacts -> Create docs artifact folder has been failing lately

https://dev.azure.com/azure-sdk/internal/_build?definitionId=4643&_a=summary

Logs:
2022-09-28T02:40:56.5305205Z ##[section]Starting: Create docs artifact folder
2022-09-28T02:40:56.5315621Z ==============================================================================
2

[2022-09-28 06:15] #697 closed

[2022-09-28 09:18] vhvb1989 commented on #759
When a new environment is created, the persisted configuration about the azdo repo is lost and it is expected to be present in the environment.

I created a PR to restore the settings by parsing the remote url and then querying azdo for the ids

[2022-09-28 09:22] vhvb1989 commented on #755
Removed the `blocker` label from this issue.

The root cause is related to how git credentials are persisted and not related to azd.

Uses must be aware than rotating a PAT would affect any store credentials using that PAT, so they need to refresh the stores.

We can invest some time in the future on how to provide good error handling or messages about wrong PAT

[2022-09-28 10:27] v-jiaodi commented on #755
We also encounter the same issue on **Mac OS**, but we created a `master`  branch to push code, and it passes.

[2022-09-28 11:03] AFengKK opened #767 "Device is not in required device state: compliant"
**Describe the issue:**
Failed when we try to run the command `bash ./test-templates.sh -c false -t todo-python-mongo-terraform -b pr/743`

**Repro Steps:**

1. Run `azd login --use-device-code`
2. Run `bash ./test-templates.sh -c false -t todo-python-mongo-terraform -b pr/743`

**Error Message:**

![image](https://user-images.githubusercontent.com/80307197/192751548-e62491e4-8f39-4d45-b4af-6d9249

[2022-09-28 11:03] AFengKK opened #768 "Device is required to be managed to access this resource"
**Describe the issue:**
Failed when we try to run the command `bash ./test-templates.sh -c false -t todo-python-mongo-terraform -b pr/743`

**Repro Steps:**

1. Run `azd login`
2. Run `bash ./test-templates.sh -c false -t todo-python-mongo-terraform -b pr/743`

**Error Message:**

![image](https://user-images.githubusercontent.com/80307197/192753627-77307978-68dd-4c76-8f2b-6ce06d5270e3.png)

**Env

[2022-09-28 11:06] zedy-wj commented on #197
We are testing Azure DevOps(new feature) for CI/CD pipelines configuration, it also occurs the same issue with command: `azd pipeline config --provider azdo.`

[2022-09-28 12:10] flcdrg commented on #744
The potential problem with using the install script is that Chocolatey has restrictions on how files can be downloaded - they must use one of the [Chocolatey functions](https://docs.chocolatey.org/en-us/create/functions/). You also need to ensure that the checksums included in chocolateyInstall.ps1 are correct for each version.

If you know the CDN URLs then those would be preferable to use as dow

[2022-09-28 15:43] #749 closed

[2022-09-28 16:07] puicchan commented on #755
@vhvb1989 what if I work on multiple repo and use diff PAR for my projects? This is not about rotating PAT. Previous credential is cached. How do we prevent that?

[2022-09-28 17:26] #689 closed

[2022-09-28 18:02] vhvb1989 commented on #755
git-credential-manager automatically stores one credential per domain.  This is because you would use the same PAT for all the projects/repos/pipelines within an Azdo Server. The PAT can't not be scoped to one project or repo only, as it is created for the entire Organization (or even across organizations).

The PAT is equivalent to your user-log-in credentials. You don't need a different user-acc

[2022-09-28 19:48] #725 closed

[2022-09-28 20:11] danieljurek commented on #744
Thanks @flcdrg, that clarifies. I'll need to do some prototyping on my side to learn more about the capabilities here.

[2022-09-28 20:13] #759 closed

[2022-09-29 02:23] #763 closed

[2022-09-29 18:42] vhvb1989 opened #778 "Git init broken for trying to rename initial branch"
There's an error when trying to rename a branch as the branch does not really exists until it has at least one commit

[code]

[2022-09-29 20:27] HadwaAbdelhalem commented on #767
@AFengKK  the failure is regarding the az login with --device code on wsl , details [here](https://github.com/Azure/azure-cli/issues/17273)   . Can you please run az login using a service principal or user and rerun the commands.

[2022-09-29 20:40] #778 closed

[2022-09-29 20:46] #719 closed

[2022-09-29 20:49] HadwaAbdelhalem commented on #658
@zedy-wj  . I have few questions that can help narrow the root cause for this
- How did you auth to azure before running the azd pipeling config ? did you use managed identity or a service principal?
- Is the storage account you are using for remote state is in the same subscription as the Service principle/user you are using to run azd with ?

[2022-09-29 22:04] HadwaAbdelhalem commented on #768
@AFengKK the failure is regarding the az login with --device code on wsl , details https://github.com/Azure/azure-cli/issues/17273 . Can you please run az login using a service principal or user and rerun the commands.

[2022-09-29 22:08] vhvb1989 opened #781 "Azdo does not refresh variables on every run"
When running az pipeline config for an existing pipeline, variables must be refreshed

[2022-09-30 00:14] jongio opened #783 "Improve default azure.yaml when `azd init` empty template is run"
Run `azd init` empty template and you get this azure.yaml

[code]

Let's get 'services' and potentially other useful info in there.

[2022-09-30 05:58] #781 closed

[2022-09-30 09:32] AFengKK commented on #767
@HadwaAbdelhalem, I ran `az login --service-principal` and `bash ./test-templates.sh -c false -t todo-python-mongo-terraform -b pr/743` on Codespaces, and the following error occurred. Can you give me some help?

**Error Message:**
![image](https://user-images.githubusercontent.com/80307197/193218631-d695bd6e-7686-4512-a7d6-9c018e7d3dbe.png)

**Repro Steps:**
Run `az login --service-principal`
Run

[2022-09-30 16:39] HadwaAbdelhalem commented on #767
@AFengKK  looks like you did not configure the ARM variables with the service principle details . you need to set the ARM variables if you used a service principle for az login .

$ export ARM_CLIENT_ID="00000000-0000-0000-0000-000000000000"
$ export ARM_CLIENT_SECRET="00000000-0000-0000-0000-000000000000"
$ export ARM_TENANT_ID="00000000-0000-0000-0000-000000000000"
detailed step  by step [here](

[2022-09-30 16:49] jongio opened #786 "Bubble up ARM issues"
I sometimes get this when I provision:

[code]

I can get the error details if I rerun with --debug, but let's instead bubble up the error by default.

[2022-09-30 18:02] vhvb1989 opened #787 "[ pipeline config ] Azdo provider - Double pipeline is started on pushing code."
## How to repro:

When running `azd pipepine config` with `--provider azdo`:

- Create a new Azure DevOps project when prompted (this is important as we need to create a new pipeline definition)
- When prompted for pushing changes, select `NO`

At this point, a git-remote should be already created for the repository, pointing to the Azdo project and repo.
A pipeline definition should be already cr

[2022-09-30 19:16] wbreza commented on #714
Requires Azure/azure-sdk-for-go#19241

[2022-09-30 21:06] vhvb1989 opened #791 "[ pipeline config ] Azdo/GitHub + Terraform works only the first time"
Terraform needs to be set up with `remote` mode with some external source to store the result's cache.

running `azd pipeline config` for terraform templates does not set `remote` mode, which means that the pipeline, either from GitHub action or Azdo pipeline will only work if the `provision` has not been called yet for that template+environment.

For example, running `azd init` + `azd pipeline co

[2022-09-30 21:22] #36 closed

[2022-09-30 22:54] philliphoff opened #792 "[Issue] `azd show` consistently takes ~3s to complete"
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**

`azd version 0.3.0-beta.1 (commit c5344160ed49bfda75281fba28b5e9ac7b96670e)`

**Output from `az version`**
[code]

**Describe the bug**
Running `azd show` consistently takes ~3s to complete but can also take as much as 5s; rarely have I seen it less than 2s.  This i

[2022-09-30 23:03] philliphoff opened #793 "[Issue] `azd show` output does not include the application name"
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**

`azd version 0.3.0-beta.1 (commit c5344160ed49bfda75281fba28b5e9ac7b96670e)`

**Output from `az version`**

[code]

**Describe the bug**
While the `azure.yaml` contains the name of the application,  the output of `azd show` does not. This means tooling must either p

[2022-09-30 23:31] #416 closed

[2022-09-30 23:51] weikanglim commented on #688
@charris-msft Thanks for submitting the debug output.

Looking at the output, I see all the correct behavior on `azd`. A deployment is created through `az deployment sub create`, and every 30 seconds, `az` was polling the ARM API to see if the deployment was completed. At 00:15:12 UTC, it completed and `azd` correctly continued with application deploy. The ARM deploy started at 00:06:57 UTC, so th

[2022-10-03 17:54] jongio commented on #690
I would like to see resourceGroup at the root level and add it at the service level.

1. If at root, then all services should be deployed to that resource group
2. If at service, then that service is in that resource group
3. Otherwise, use our current defaulting logic.

This allows flexibility so a user can have services in any resource group.

[2022-10-03 22:01] puicchan opened #800 "New architecture diagram for C# Azure SQL Functions template"
Related to PR #551
We need the architecture diagram edited for the new csharp Azure sql functions template.

[2022-10-03 23:56] #715 closed

[2022-10-04 05:54] rajeshkamal5050 commented on #524
@hattan I believe this is complete. Please reopen if need be.

[2022-10-04 05:54] #524 closed

[2022-10-04 05:54] rajeshkamal5050 commented on #459
@puicchan I believe this is complete. Please reopen if need be.

[2022-10-04 05:54] #459 closed

[2022-10-04 05:54] rajeshkamal5050 commented on #438
@danieljurek I believe this is complete. Please reopen if need be.

[2022-10-04 05:54] #438 closed

[2022-10-04 06:12] rajeshkamal5050 commented on #754
Closed with PR
- https://github.com/Azure/azure-dev/pull/757

[2022-10-04 06:12] #754 closed

[2022-10-04 06:22] rajeshkamal5050 commented on #753
<img width="524" alt="Azd-Prerequisites" src="https://user-images.githubusercontent.com/11532743/193748644-7c76968a-d9be-4835-a79b-bf9b433c67f3.png">

Not seeing node as a pre-requisite.

[2022-10-04 06:22] #753 closed

[2022-10-04 06:25] rajeshkamal5050 commented on #686
Hi @charris-msft any updates on the recommendation from @vhvb1989

[2022-10-04 06:31] rajeshkamal5050 commented on #736
Closing this in favor of #370

[2022-10-04 06:31] #736 closed

[2022-10-04 06:37] rajeshkamal5050 commented on #107
Related to #786

[2022-10-04 15:52] savannahostrowski commented on #253
@puicchan Is this just moving to the next iteration? Or do you have another item you are using to track your work? Any updates?

[2022-10-04 16:00] puicchan commented on #253
Yup. I've moved it.

[2022-10-04 17:04] savannahostrowski commented on #751
We should also think about what inner loop development looks like when we move Bicep modules to a registry, using VS Code as our hero client. The primary concern here is that after we move them into a registry, the local development experience becomes a little magical (as there won't be files for them to code nav to).

This would likely and ideally fall into the Bicep extension's feature scope but

[2022-10-04 20:08] #190 closed

[2022-10-04 20:11] #490 closed

[2022-10-04 20:12] ellismg commented on #792
A majority of the time here is spent just pulling state from Azure (so we can discover the Azure resources for your application and correlate them to resources in the `azure.yaml` file).  The overhead of running these `az` CLI commands can't be helping us here, but as designed this command is always going to reach out to the cloud to get information.

We actually have this cost spread across a lot

[2022-10-04 20:22] savannahostrowski commented on #199
I can't repro anymore.

[2022-10-04 20:22] #199 closed

[2022-10-04 20:54] philliphoff commented on #792
I think the larger question is how to efficiently and promptly detect and respond to changes to the Azure Dev CLI context.  The `azd show` command was intended to shield tools from implementation details such as configuration file formats, which is good.  But tools also need to know when to *next* call `azd show`.

One approach is to periodically poll.  This requires balancing the desire for immed

[2022-10-04 21:40] savannahostrowski commented on #375
If you're interested in AKS support, please upvote + also provide details about your scenario (e.g. what languages are you using?)!

[2022-10-04 22:26] savannahostrowski opened #803 "[Issue] Prompt to install azd tool from VS Code extension doesn't bring you to installation instructions"
I had to reinstall WSL yesterday so I got to experience this as a net new user.

The toast that pops up to warn you that you don't have azd CLI installed points users to an aka link which points to: https://learn.microsoft.com/en-us/azure/developer/azure-developer-cli/get-started?tabs=baremetal&pivots=programming-language-nodejs

We should update to use this link instead: https://aka.ms/azd-instal

[2022-10-04 23:17] #755 closed

[2022-10-05 04:16] vhvb1989 commented on #701
already implemented

[2022-10-05 04:17] #701 closed

[2022-10-05 04:17] vhvb1989 commented on #700
implemented already

[2022-10-05 04:17] #700 closed

[2022-10-05 04:20] vhvb1989 commented on #239
this is implemented already

[2022-10-05 04:20] #239 closed

[2022-10-05 04:21] vhvb1989 commented on #237
already implemented

[2022-10-05 04:21] #237 closed

[2022-10-05 04:26] #791 closed

[2022-10-05 04:32] vhvb1989 commented on #745
The name of the pipeline contains the name of the repo

[2022-10-05 04:32] #745 closed

[2022-10-05 04:33] vhvb1989 commented on #236
Implemented with option 2. DevOps SDK for Go

[2022-10-05 04:33] #236 closed

[2022-10-05 05:39] rajeshkamal5050 opened #808 "[Core] azd environment redesign - Implementation"
Implement the redesigned environment logical construct in Azd.

[2022-10-05 05:53] lechnerc77 opened #809 "[Issue] .bicep file for Storage Accounts"
- [X] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
azure-dev-cli_0.3.0-beta.1

**Output from `az version`**
n.a.

**Describe the bug**

This is less a bug than a feature request. With the new setup of infrastructure files in release 0.2.0-beta2 there are several pre-defined `.bicep` files in the `core` folder. Most o

[2022-10-05 05:55] rajeshkamal5050 commented on #255
@Austinauth can we close this from a design perspective. Implementation tracker - https://github.com/Azure/azure-dev/issues/557

[2022-10-05 06:14] rajeshkamal5050 opened #810 "Azd CLI Extensibility"
Spike to investigate on extensibility in Azd

# Use Cases
The following are a list of use cases to explore during this spike

- [x] [Subscribe to azd command hooks] -#1429
- [ ] Override built-in commands #1090
- [x] Skipping built-in commands - #3173
- [x] Define custom commands #3565
- [x] Plugin model #3565

See details below on each use case

# Customer Scenarios

- #122

## Subscribe to azd c

[2022-10-05 06:38] piizei opened #811 "[Issue] azd up should create a new directory for better dx"
**Describe the bug**

Like every other common developer cli-tool (like git), azd should create the directory when azd up is ran.

**Expected behavior**

Create a directory with the name of the template

**Environment**
Information on your environment:
azd version 0.3.0-beta.1

[2022-10-05 06:51] marnixcox opened #812 "Support for Logic Apps"
- [ ] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
`azd version 0.3.0-beta.1 (commit c5344160ed49bfda75281fba28b5e9ac7b96670e)`

**Output from `az version`**
[code]
**Describe the bug**
After creating the infra I am trying to deploy Logic App Standard workflow content using the following yaml snippet:

[code]

This r

[2022-10-05 14:32] rjygraham opened #813 "[Proposal] Allow infrastructure and services to be deployed interdependent stages"
There may be scenarios in which Azure infrastructure to be deployed as part of the "infrastructure" phase requires the deployment of one of the services defined in the `azure.yaml`; therefore, I propose `azd` allow developers to define multiple stages of infrastructure and service deployment within `azure.yaml`.

A real-world example of this requirement is establishing EventGrid topic subscription

[2022-10-05 17:08] weikanglim commented on #813
Thanks for the suggestion. We'll definitely need some way to support this in `azd` to enable things like event grid subscriptions.

I could think of an alternative that is not as flexible, but perhaps more concrete to the scenario is to introduce pre-deploy and post-deploy hooks for `services`.

Something like:

[code]

I think this would also allow additions like pre-deploy health checks and post

[2022-10-05 17:12] #582 closed

[2022-10-05 17:47] ellismg commented on #813
Something we should keep in mind while building this - I think we want to continue to be able to say something like: "give me all the resources that make up this application".  We are already building editor experiences on top of the answers to this sort of question as well as commands like `azd monitor` use this list as part of their implementation.  Today the way we answer this question is that

[2022-10-05 17:48] ellismg commented on #248
Here's more information on this feature: https://learn.microsoft.com/en-us/azure/azure-app-configuration/concept-soft-delete

[2022-10-05 18:38] ellismg commented on #792
One possibility here would be to have some file with a well-known name (perhaps in `.azure`) and have the `azd` touch it (or write a timestamp if we wanted the contents to change) when things have changed?  Then, editors could monitor that file and when there are changes re-run `azd show`?  That would at least mean the editor would be shielded from having to understand every file that might cause

[2022-10-05 18:53] #415 closed

[2022-10-05 19:22] #601 closed

[2022-10-05 19:23] #168 closed

[2022-10-05 19:26] puicchan commented on #379
To address this with blog series and update in devHub.

[2022-10-05 20:26] philliphoff commented on #792
That might be a reasonable compromise; the tools need not poll but also not have to know every detail about `azd` file updates, and file watching is built into many tooling platforms.  I would assume that such a file would *not* be intended to be part of the repo and excluded directly/indirectly via `.gitignore` as part of template creation?

[2022-10-05 20:28] rajeshkamal5050 commented on #526
Since its a P2 and also, we have the templates gallery site https://aka.ms/awesome-azd/

Moving it to backlog for now.

[2022-10-05 20:31] rajeshkamal5050 commented on #541
@jongio since it is a P2. Moving it to backlog. Please pull it in if you think otherwise.

[2022-10-05 20:33] rajeshkamal5050 commented on #375
Discussions are still ongoing on this. Keeping it On Deck.

[2022-10-05 20:52] rajeshkamal5050 opened #817 "Azd Command Restructuring"
Iterate on Azd Command Restructuring

[2022-10-05 20:54] weikanglim opened #818 "python todo fails to deploy on azd cli-app docker image"
## Repro:
1. `docker run --rm -it --entrypoint bash mcr.microsoft.com/azure-dev-cli-apps:latest`
2. `az login` -- follow prompt
3. `azd init -t Azure-Samples/todo-python-mongo` -- follow prompts
4. `azd up`

## Expected:
Deployment succeeds

## Actual:
Deployment fails with error:
[code]

Might be related -- `azd restore` also fails:
[code]

[2022-10-05 20:55] rajeshkamal5050 opened #819 "[Spike] Azd and Starshot Integration"
Spike to explore on the integration between Azd and Starshot.

[2022-10-05 21:12] savannahostrowski opened #820 "[Issue] 404 Not Found failed setting AZURE_CREDENTIALS on pipeline config"
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
azd version 0.3.0-beta.1 (commit c5344160ed49bfda75281fba28b5e9ac7b96670e)

**Output from `az version`**
{
  "azure-cli": "2.40.0",
  "azure-cli-core": "2.40.0",
  "azure-cli-telemetry": "1.0.8",
  "extensions": {}
}

**Describe the bug**
Getting a 404 on running azd

[2022-10-05 21:26] rajeshkamal5050 commented on #528
@danieljurek can you work with @ellismg on this.

[2022-10-05 21:42] savannahostrowski commented on #578
@rajeshkamal5050 Is this now a duplicate? An epic? Would be good to link all of @wbreza's items related to this here.

[2022-10-05 21:43] savannahostrowski commented on #578
Closing in favour of https://github.com/Azure/azure-dev/issues/709

[2022-10-05 21:43] #578 closed

[2022-10-05 22:00] savannahostrowski opened #821 "[Issue] Simplify azd installation process (dependencies)"
This week I had to fresh install WSL with Ubuntu because something went terribly wrong on my machine (unrelated to azd). However, this had me walk through the installation process again from scratch, it went something like this:

- Install `azd`
- Try to run `azd up` on an existing repo (todo-python-mongo)
- Get error
- Realize I was missing `az`, + go off to grab install command from their docs
-

[2022-10-05 22:10] savannahostrowski opened #822 "`azd help` improvements"
![image](https://user-images.githubusercontent.com/8949415/194172371-8ecac848-8aa2-42a4-a62d-4f99458242ba.png)

Should we group the commands by task?

[2022-10-05 22:18] savannahostrowski commented on #243
@Austinauth Was this issue also considered
https://github.com/Azure/azure-dev/issues/468?

[2022-10-05 23:18] jongio commented on #822
Yes!

[2022-10-05 23:19] jongio commented on #821
Templates should describe what dependencies are required (maybe in azure.yaml) and then azd can do all the checks upfront.

[2022-10-05 23:26] jongio commented on #541
I was thinking this would be @puicchan as she is doing doc updates.

[2022-10-05 23:54] jongio commented on #811
We'll want to consider side effects of doing this, like `azd up` runs multiple commands assuming current directory, if azd init puts in a subfolder, then we'll need to execute sub commands in the context of that new subfolder.

This should be achievable now that we have --cwd option.

[2022-10-06 01:20] vhvb1989 commented on #820
Hey @savannahostrowski ,

I am curious to know how did you get the template?  Did you use `azd` to select and donwload the template?

The reason I am asking is because, according to the image evidence, `azd` did not offer you to create a new Git Repository. Instead, it looks like `azd` detected a git `origin` within the folder pointing to the repo:

https://github.com/savannahostrowski/gh-universe

[2022-10-06 05:10] rajeshkamal5050 commented on #767
@AFengKK did you try the above from @HadwaAbdelhalem ?

[2022-10-06 05:30] rajeshkamal5050 commented on #768
@AFengKK is this similar to the other todo-python-mongo-terraform issue #767?

[2022-10-06 06:00] rajeshkamal5050 opened #824 "Manual Testing - Release 0.4"
Manual testing for Release 0.4
Release Date: Nov/02
Manual testing cycle: Oct/26 - Oct/28

[2022-10-06 06:13] rajeshkamal5050 opened #825 "Automating Manual Tests"

[2022-10-06 13:12] justinyoo commented on #122
Just FYI - I've set up the dev CLI template in this repo: https://github.com/justinyoo/google-naver-maps-custom-connector-sample.

It's still unavailable to achieve the 3rd option - integrating APIM with Azure Function app, and update app settings with secerts (like API keys). My curreent workflow for this app provision/deployment/integration is like this:

1. Provision APIM (service) and Azure Fu

[2022-10-06 13:36] jongio commented on #541
Isn't it "install vs preview from here" https://visualstudio.microsoft.com/vs/preview/

[2022-10-06 15:23] savannahostrowski commented on #541
Yep - @jongio is correct.

[2022-10-06 16:38] marnixcox opened #827 "Error: failed to create or update service principal"
- [ ] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
`azd version 0.3.0-beta.1 (commit c5344160ed49bfda75281fba28b5e9ac7b96670e)`

**Output from `az version`**
[code]
**Describe the bug**
Can you please advise if there is a way to do the "azd pipeline config --provider azdo" step, without automaticly creating the servi

[2022-10-06 16:49] puicchan opened #828 "[azdev-ify] Make keyvault-access.bicep optional in /core"
azdev-fied https://github.com/puicchan/thedogsaidno.

Simple app with no kv but I need to keep /security -> /keyvault-access.bicep in /core. I don't want to include unnecessary files in my repository.

[2022-10-06 17:14] ellismg commented on #711
I think we'll have to end up using https://github.com/AzureAD/microsoft-authentication-library-for-go instead of identity, since we'll need to maintain a persistent token cache.  We also need to ensure this cache is properly encrypted, which will be platform specific (we can decouple that from the larger effort and start with a plaintext cache)

We'll also need to support both public and confident

[2022-10-06 17:43] #708 closed

[2022-10-06 17:45] savannahostrowski commented on #425
Closing this for now as we have a new featured templates section on the awesome-azd site

[2022-10-06 17:58] ellismg opened #829 "Panic due to concurrent map writes in CI"
From: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1899884&view=logs&j=a24bcfce-df5c-5f85-8999-2d93251fa3c8&t=aa6c7b0a-b259-54cd-a4e9-1efbfe164f4b (windows leg, first iteration)

I suspect the issue is multiple tests are running in parallel and two of them end up registering a provider into the provider map at the same time (note goroutine 26 and goroutine 33 are both running co

[2022-10-06 18:29] weikanglim opened #830 "Language-specific VSCode `extensions.json`"
We currently don't have an `extensions.json` defined specific for each language (we only recommend `azd` extension). We should add this to clue the user in on the language specific VSCode extension for the debugger in our shipped VSCode tasks to work.

[2022-10-06 18:31] puicchan opened #831 "[azdev-ify] Module discovery and usage for /core"
It's not easy to figure out what are the modules I should be using - especially for hosts.

e.g., In /host
- we have 11 biceps for appservice
- 4 for ACA (container-app.bicep vs. container-apps.bicep - what's the diff?)
- 3 for functions - more straightforward - a base and 2 lang-specific.
- 1 for staticwebapp

Consider:
**Scenario 1 - I just want to use what's in /core**
All I need is to know is

[2022-10-06 19:30] savannahostrowski commented on #821
@jongio That makes sense to me on the template dep side.

Do you have thoughts around how we can simplify the overall dependency story for azd? Ideally, it'd be nice to make it so that a developer doesn't have to jump around from doc to doc to find installation instructions and so that missing dependencies are surfaced right away (not progressively disclosed). Is there anything we could do in azd

[2022-10-06 21:29] ellismg opened #834 "Re-enable WebApp and FuncApp tests"
Both `Test_CLI_InfraCreateAndDeleteFuncApp` and `Test_CLI_InfraCreateAndDeleteWebApp` have been hitting random issues in CI over and over.  To unblock progress, adding `t.Skip()` to both of these tests, and this issue tracks up re-enabling them.

We already have end to end coverage of provisioning and get nightly coverage of all our templates so we can quickly find regressions in `deploy`.

[2022-10-06 22:09] #829 closed

[2022-10-06 22:21] #322 closed

[2022-10-06 22:30] philliphoff opened #836 "[Issue] VS Code extension's `dotenv` task causes target tasks to lose their scopes"
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

0.3.0

**Describe the bug**
The custom `dotenv` task registered by the extension attempts to augment a set of "target" tasks with environment variables from a `.env` file by updating the `execution` property of the `vscode.Task` instances.  In doing so, however, those tasks' `scope` properties ar

[2022-10-07 14:07] manekinekko opened #837 "[Issue] Managed SWA APIs are not deployed to SWA"
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
Run `azd version` and copy and paste the output here:

`azd version 0.0.0-dev.0 (commit 0000000000000000000000000000000000000000)` (commit 9f61f14ea0023852b2ca16b690c9fa67f01aedf7)

Run `az version` and copy and paste the output here (minimum required version is 2.38

[2022-10-07 17:54] #793 closed

[2022-10-07 20:45] rajeshkamal5050 commented on #255
Closing this as done from a UX design perspective.

[2022-10-07 20:45] #255 closed

[2022-10-07 20:46] #226 closed

[2022-10-07 20:46] rajeshkamal5050 commented on #243
Moving it to October iteration.

[2022-10-07 21:07] jongio opened #842 "[Issue] azd env refresh should populate dotnet user-secrets"
dotnet user-secrets are often used to config.  We output infra env vars to user-secrets in infra create, but not env refresh.  We should do that.

[2022-10-07 22:03] #738 closed

[2022-10-10 09:44] zzhxiaofeng opened #845 "Failed to debug api test for todo-csharp-sql-swa-func in windows"
**Describe the issue:**
Debug failed when we start the “Debug API” task.

**Repro Steps:**
1. Start the API and Web using VS Code tasks
2. Set a breakpoint in the API.
3. Open debug panel, and start the “Debug API” task.

**Error Message:**
![屏幕截图 2022-10-08 160055](https://user-images.githubusercontent.com/20970631/194831282-b2e1a41e-d51f-48ef-8482-486482acf5a5.jpg)

**Environment:**
OS: Windows

[2022-10-10 14:53] savannahostrowski opened #846 "Add Command Completion to azd"
I was pinged about this from another user on Twitter this weekend. Converting to an issue so that folks can upvote!

### Discussed in https://github.com/Azure/azure-dev/discussions/125

<div type='discussions-op-text'>

<sup>Originally posted by **xaviermignot** July 17, 2022</sup>
Pretty much what title says, is there any plan to have command completion in terminal ?
Just like what we have with A

[2022-10-10 14:58] savannahostrowski opened #847 "Support for package managers/installers"
I wanted to open an issue to track the request to add package manager support for installation. This will make updating much easier as well.

this was also [raised to me on Twitter this weekend](https://twitter.com/MCKLMT/status/1579038973384863746)

Common package managers/installers:
- Brew (on MacOS)
- apt (Ubuntu/Debian)
- winget
- chocolatey

[2022-10-10 14:59] alexandair commented on #846
This will enable us to get tab completion for `azd` commands in PowerShell shell. Brilliant!

[2022-10-10 15:15] MCKLMT commented on #847
I think this feature is a must have for all command line tools. Azure CLI, Bicep,... all tools can be install with brew on macOS.
I upvote for this! 😀

[2022-10-10 17:13] #786 closed

[2022-10-10 18:56] jongio commented on #821
@rajeshkamal5050 - Would be good to have someone map out azd dependencies vs azd template dependencies and come up with a plan to address assessing them in bulk.

[2022-10-10 18:58] jongio commented on #831
We could have files in root of /host be ones we intend people to use directly - but it gets iffy b/c they could use them directly in certain situations.

[2022-10-10 18:59] jongio commented on #425
The awesome-azd site is cool.  I would also like to see our samples here: https://learn.microsoft.com/en-us/samples/browse/  and have a way to identify them as azd compatible.

[2022-10-10 19:11] rajeshkamal5050 commented on #821
Yes, agreed. Adding it to On Deck to get this prioritized in our next iteration.

[2022-10-10 19:23] savannahostrowski commented on #112
Assigned this to @ellismg as I believe it will be largely taken care of with his overarching environment work.

@rajeshkamal5050 Is this in the Release 0.4 milestone?

[2022-10-10 19:37] rajeshkamal5050 commented on #112
@savannahostrowski adding it to the October iteration as part of the environment work item. I believe the environment work item will be delivered in incremental chunks across iterations.

@ellismg it would be great if you can capture(as part of #808 or in your proposal too) what will be delivered across iterations. So that folks get to know what's coming when.

[2022-10-10 20:09] Austinauth commented on #243
Will review this in the next couple days and provide guidance.

[2022-10-10 20:14] Austinauth commented on #243
@wbreza @vhvb1989 can I assign this issue to either of you since design is complete? Happy to review or provide input if anything else is needed.

[2022-10-10 20:21] philliphoff opened #851 "[Issue] `azd show` will prompt user instead of simply returning JSON"
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
`azd version 0.3.0-beta.2 (commit 91a2c014887ebda63a0af2e623278f8ac40ce376)`

**Output from `az version`**
[code]

**Describe the bug**
There are conditions under which `azd show` prompts the user for information instead of simply returning the application details (o

[2022-10-10 20:25] Austinauth commented on #594
**Update 10/09/2022**
- Had sync with Savannah
- Updated task list
- Next steps: Complete tasks above by end of week

[2022-10-10 20:37] rajeshkamal5050 commented on #837
@wbreza can you take a quick look on the recommended option above?

[2022-10-10 20:42] Austinauth commented on #637
**Update 10/09/2022**

Moving to November due to other priority work items.

[2022-10-10 20:42] rajeshkamal5050 commented on #827
@vhvb1989 can you see if the existing service-principal/connection can be used for AzDo?

[2022-10-10 20:44] Austinauth commented on #800
@puicchan Will try to have this done for you by end-of-week or sooner. Can you please provide more specifics on the request in this issue?

[2022-10-10 20:45] Austinauth commented on #638
**Update 10/09/2022**

Moved into _To be scheduled/prioritized_ until Savannah has more time to flesh out requirements.

[2022-10-10 20:47] Austinauth commented on #663
**Update 10/09/2022**

Spoke with @savannahostrowski about this issue, we may need to convert this into an epic and create individual issues for each UX flow. The `azd --help` flow is the first priority from this list.

[2022-10-10 20:51] rajeshkamal5050 commented on #811
Needs investigation and discussion on what other CLI's/tools do.

[2022-10-10 20:52] wbreza opened #854 "Deprecate and split up `AzCli` interface"

[2022-10-10 21:12] rajeshkamal5050 commented on #812
@ellismg @wbreza do we need to add additional host support for deploying to **_Logic App Standard_**

[2022-10-10 21:17] Austinauth commented on #822
@savannahostrowski As we discussed earlier, let's make the #663 issue an Epic and this issue a task within the epic (I'm not sure how to do that myself).

[2022-10-10 21:19] marnixcox commented on #812
@wsilveiranz @puicchan

[2022-10-10 21:24] Austinauth commented on #557
@rajeshkamal5050 I will be investigating the remaining commands at the end of October / November (what you have captured under P1). This should not prevent us from delivering the initial mocks in P0 (up, init, provision, etc.).

Here is the issue: https://github.com/Azure/azure-dev/issues/663

[2022-10-10 21:27] madebygps commented on #845
@zzhxiaofeng can you try latest commit? For now, you'll have to manually start the Start API task, and then run the Debug API task (you'll be asked to pick from a list of running .NET processes, search for the name of your app and select it.) Issues have been filed to hopefully get this working as it does in other templates.

[2022-10-10 21:35] vhvb1989 commented on #827
We need to add the support to use an existing service-principal.

Right now, no matter what provider is selected (github or Azure DevOps), `azd` creates a new service principal every time that `azd pipeline` is executed.

The only customization that azd supports is using the name of an existing service-principal. When this is set like `azd pipeline --principal-name some-service-principal-name` ,

[2022-10-10 21:45] puicchan opened #855 "[Dev Hub] Update to run and debug tutorial"
https://learn.microsoft.com/en-us/azure/developer/azure-developer-cli/debug?pivots=ide-vs-code

For C# swa-func MS SQL template - add:
"You'll have to manually start the Start API task, and then Debug API (F5). You'll be asked to pick from a list of running .NET processes, search for the name of your app and select it."

[2022-10-10 22:17] savannahostrowski commented on #827
This seems like something we do want to support. I think that this likely falls into the larger effort of supporting developers using azd with non-azd created/existing infrastructure. We probably want to group this and other similar items under that epic/bucket (BYO-infrastructure).

[2022-10-10 22:17] weikanglim commented on #390
This was fixed in #761 when we moved the RG link from `azd provision` (it was attached weirdly to provision so that it would show at the end of `azd up`) to `azd deploy`.

[2022-10-10 22:17] #390 closed

[2022-10-10 22:30] ellismg opened #856 "Intermittent CI failure finding deployment."
From a PR of mine, but I don't think the PR is the issue.  Note that we tried to hit az deployment sub show to find the final deployment result before giving up.  It's troubling that it didn't show up.

[code]

This passed on the other OS's, I suspect it is a flaky issue: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1907677&view=logs&j=3eb4d8a5-5d97-562b-c71d-6ac568d84486&t=6fa7

[2022-10-10 23:02] jongio opened #857 "[Issue] azure sql not printed during `azd provision`"
Run `azd up -t todo-csharp-sql` or any template that uses Azure SQL

You'll see this:
![image](https://user-images.githubusercontent.com/2163001/194964834-52b1d1b3-60f6-4522-9d66-8c4071b126d1.png)

Azure SQL isn't in the list when it should be.

[2022-10-11 02:55] zzhxiaofeng opened #859 "Logs is fail when run pipeline test in github and azure devops"
**Describe the issue:**
Logs is fail when run pipeline test in github and azure devops in windows.

**Repro Steps:**
Run command:` azd pipeline config` or `azd pipeline config --provider azdo` and verify logs is passed succesfully or not.

**Error Message:**
![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/20970631/194837605-3c859acf-b6de-4440-a7ca-b5e2441dfe49.png)

**Environ

[2022-10-11 03:33] zzhxiaofeng commented on #845
@madebygps I have debugged api test as you said step by step and return an error as following, please have a look when you are free.
![image](https://user-images.githubusercontent.com/20970631/194991071-36b7ace7-ac0a-4ac4-a66b-444396b827c4.png)

[2022-10-11 04:25] vhvb1989 opened #864 "PR auto-assigner is not working :("
Last time it was seen working:
https://github.com/Azure/azure-dev/pull/835

<img width="483" alt="image" src="https://user-images.githubusercontent.com/24213737/194996842-4b605e5a-0829-4d7f-b920-7e6b681eda72.png">

[2022-10-11 07:13] zedy-wj commented on #197
@vhvb1989 - After testing, we found that the error message has changed, adding comment to stay up to date:
1. When we log in as `az login --use-device-code`, the error message changes to:
[code]

2. When we log in with service principal, it still prompts `Insufficient privileges to complete the operation.`

In addition, we would like to confirm with you which login method we should use when testin

[2022-10-11 07:46] AFengKK commented on #767
@HadwaAbdelhalem According to your comments, we configured the ARM variables with the service principle to az login, and the deployment was successful. Now, this issue can no longer be reproduced. But when running the command `azd pipeline config` and `azd pipeline config --provider azdo`, we ran into the old issue https://github.com/Azure/azure-dev/issues/197.

@jongio  Following the comment http

[2022-10-11 07:57] AFengKK commented on #768
@rajeshkamal5050 It may be similar to the https://github.com/Azure/azure-dev/issues/767 issue. We followed what you said in issue https://github.com/Azure/azure-dev/issues/767#issuecomment-1263790268 and configured the ARM variables to deploy resources. This issue is not reproduced, but it had a new issue of failed to install provider. Any ideas?

**Error Message:**

![image](https://user-images.g

[2022-10-11 09:29] v-jiaodi opened #865 "Server error when Azure Dev Deploy finished"
**Describe the issue:**
Server error when Azure Dev Deploy finished.

**Repro Steps:**
Run command: ` bash ./test-templates.sh -c false -t <template_name> -b pr/551 `.

**Error Message:**

![image](https://user-images.githubusercontent.com/80496810/195049039-181a6ecd-cc56-44ae-9782-0ef39b8d4707.png)

Through investigation, we found that it was caused by API service exception

![image](https://user

[2022-10-11 10:01] hongli750210 opened #866 "`azd pipeline config` - device is required to be managed to access this resource"
**Describe the issue:**
Failed when we try to run the command `azd pipeline config` and `azd pipeline config --provider azdo`

Besides, it is a similar error with https://github.com/Azure/azure-dev/issues/768.

**Repro Steps:**
1. Run `azd login`
2. Run `bash ./test-templates.sh -t Azure-Sample/todo-nodejs-mongo-swa-func -b pr/551 -c false`
3. Run `azd pipeline config` or `azd pipeline config --pr

[2022-10-11 11:37] madebygps commented on #845
Awesome, thanks for the update.

[2022-10-11 11:37] #845 closed

[2022-10-11 14:24] puicchan commented on #827
In enterprise scenario, developers typically do not have direct access or rights to create service principal. clientId, teanantId etc. are json output that is captured after running `az ad sp`. The secret should be captured and configured in GitHub Workflow or AzDo so it should not be something we store on azd side (dev won't have access.) @jongio @wbreza for input.

[2022-10-11 16:07] rajeshkamal5050 commented on #866
@vhvb1989 can you triage this? Seeing similar issues often. Why are folks running into it. Any fixes or improvements on docs we could make?

[2022-10-11 16:13] rajeshkamal5050 commented on #865
@jongio @madebygps did we make any changes to other templates as part of #551? any changes in your PR could cause this?

[2022-10-11 16:17] weikanglim commented on #821
We're also missing one of Bicep CLI or Terraform CLI being mentioned as a dependency in our docs.

[2022-10-11 16:52] Austinauth commented on #468
@savannahostrowski a few clarifying questions:

- Is the first step _Create a free account_ something that the user has done prior to this error in the CLI?
- Is a _free account_ the same as a regular Azure account you can create using the Azure web UI or is it something more specific?

[2022-10-11 16:59] vhvb1989 commented on #866
This is not really an `azd` issue.

Explanation:
[Conditional Access policy](https://learn.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-policies) can be set up for Azure subscriptions.  When this policy is enabled for a tenant (Azure Subscription), there are specific rules which determine the min requirements for logging in to the Azure Subscription (or

[2022-10-11 17:06] ellismg opened #868 "Investigate terraform property to Azure ID mapping"
We have this comment in the terraform provider

[code]

Right now this mapping is being created by hand as we discovered resources that have to be mapped, but it would be nice if we can automate this.  Maybe we can get the information from the terraform provider somehow.

This issue tracks that investigation.

[2022-10-11 17:40] jongio commented on #821
Bicep is auto installed by the azure cli, so we'll need to make sure that is covered in the az effort that @wbreza is doing.

[2022-10-11 17:42] jongio commented on #865
Yes, I will investigate.

[2022-10-11 18:15] #768 closed

[2022-10-11 18:23] weikanglim opened #870 "[Issue] `azd pipeline config` panics with `ssh` origin configuration"
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
Run `azd version` and copy and paste the output here:
azd version 0.3.0-beta.2 (commit 91a2c014887ebda63a0af2e623278f8ac40ce376)

**Output from `az version`**
Run `az version` and copy and paste the output here (minimum required version is 2.38.0):
[code]

**Describe

[2022-10-11 18:32] wbreza opened #871 "Update Bicep usage to use standalone CLI"
Today the Bicep CLI wrapper executes commands via `az bicep ...`.  These commands will need to be updated to leverage the standalone CLI install.

[2022-10-11 18:36] rajeshkamal5050 commented on #197
@zedy-wj

Error: failed to create or update service principal: failed running az ad sp create-for-rbac: exit code: 1, stdout: , stderr

For the above let's track using #866

Let's track the insufficient privileges using this issue. @vhvb1989 Please try unblocking them. Also, if it is confusing internally, let's make sure to document the same and be clear for external folks.

[2022-10-11 18:39] rajeshkamal5050 commented on #767
Too many bugs going around for similar issues. Closing this one since can no longer be reproduced.

@AFengKK @HadwaAbdelhalem please double check on the external terraform documentation is clear. If any updates are needed based on this issue, please make it.

For the `azd pipeline config` issues refer to these,
- https://github.com/Azure/azure-dev/issues/197
- https://github.com/Azure/azure-dev/is

[2022-10-11 18:40] weikanglim opened #872 "Audit commands for checking of valid `azd` repository"
I was prompted to initialize a new repository when running `azd pipeline config` incorrectly on an initialized git repository that did not have valid `azure.yaml` defined. `azd pipeline config` should have errored out early about "not an azd project". Instead, it received an invalid azdCtx project directory and ran the command `git -C /root remote get-url origin`.

We need to start auditing the co

[2022-10-11 18:41] #714 closed

[2022-10-11 19:12] Austinauth commented on #800
### Updated Diagram

![Image](https://user-images.githubusercontent.com/6994218/195178654-d045f184-640e-4f80-b02c-fbfd429f0093.png)

### Sharepoint Link to Img File
https://microsoft.sharepoint.com/:i:/t/AzureDeveloperExperience-AzureAcceleratorsTeamInternal/EYDI14KlMPVOk-GzWDWr1p4BpFGGw_0MRAayB1j1s1AvbQ?e=BzPmfF

@puicchan feel free to close this issue if thats all you need!

[2022-10-11 19:59] danieljurek commented on #169
This is done.

[2022-10-11 19:59] #169 closed

[2022-10-11 19:59] danieljurek commented on #254
Adjusted priority. We can do this later if the need arises.

[2022-10-11 20:24] madebygps opened #873 "Share repository & domain models across different .NET project implementations"
This was brought up by @wbreza on https://github.com/Azure/azure-dev/pull/551. Putting in an issue per @jongio to see if this can be worked on later.

[2022-10-11 20:25] madebygps commented on #800
Thank you! I've added it to my template readme.

[2022-10-11 20:27] savannahostrowski commented on #526
This is a dupe of https://github.com/Azure/azure-dev/issues/425. @jongio which do you want to leave open?

[2022-10-11 20:34] savannahostrowski commented on #295
@wbreza I assume this is relevant to your work to remove the az dependency + as you think about auth on the azd side. Does this make sense to assign to you?

[2022-10-11 20:36] savannahostrowski opened #874 "Azure Developer CLI Golden Path (install ➡️ local development ➡️ first deployment)"
As part of an effort to make `azd` onboarding awesome, this issue aims to track various stages of the onboarding experience (let's call it the golden path; install ➡️ local development ➡️ first deployment) that might cause application developers issues and/or slow their progress getting their app to the cloud using `azd`.

Right now, I've grouped these issues into a couple different categories:
-

[2022-10-11 22:52] ellismg commented on #857
The mapping from RP types to friendly names is here:

https://github.com/Azure/azure-dev/blob/e5acbfe8bcfe001abbbf9457e5d660dc1a727132/cli/azd/pkg/infra/azure_resource_types.go#L31-L63

If we don't return a value from this function, we don't display something in the output:

https://github.com/Azure/azure-dev/blob/e5acbfe8bcfe001abbbf9457e5d660dc1a727132/cli/azd/pkg/infra/provisioning/provisioning

[2022-10-12 01:12] vhvb1989 commented on #197
Thank you @rajeshkamal5050

Both issues are sort of related, as they are both a side effect of the same Conditional Access Policy.

But it is OK to use both issues.

So, for `using a service principal` , I have checked what is the required permissions to be added to the service principal and they are:
   -  Application.ReadWrite.All for Microsoft Graph
<img width="883" alt="image" src="https://use

[2022-10-12 02:49] ellismg commented on #812
We very may need to do this yes.  The customer error here is due to azd thinking they have a .NET project and we're trying to do a build of it during deploy.  That is a problem in and of itself but I suspect even if we could build this thing we may need extra work to end up deploying it.

[2022-10-12 15:51] danieljurek commented on #370
Goals:

* [x] `azd` detects it's in codespaces and logs in with `--use-device-code`
* [ ] Foreach sample repo: codespaces scenarios work
    * [ ] La

Codespace scenario:
1. Create new codespace from template repo (possibly fork)
2. In terminal: `curl -fsSL https://aka.ms/install-azd.sh | bash -s -- --version daily`
3. In vscode extension:
    1. azd provision
4. Debugger Launch API
5. Debugger La

[2022-10-12 16:07] savannahostrowski commented on #370
Are we still investigating getting `azd` included in the Codespaces image? I think it'd be amazing if we could eliminate the install step - that's be the goal, IMO.

[2022-10-12 16:28] danieljurek commented on #370
These are mostly notes to myself. I'm installing `daily` which is the latest of what's in `main` and hasn't yet been released. Once we do the release next week we can eliminate that step.

[2022-10-12 16:28] savannahostrowski commented on #370
Sweet - thanks Daniel!

[2022-10-12 17:01] #800 closed

[2022-10-12 17:55] #859 closed

[2022-10-12 22:02] #686 closed

[2022-10-13 00:32] tylerj-aft opened #890 "[Feature] App Service Environment Support"
- [X] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
Run `azd version` and copy and paste the output here:
azd version 0.3.0-beta.2 (commit 91a2c014887ebda63a0af2e623278f8ac40ce376)

**Output from `az version`**
Run `az version` and copy and paste the output here (minimum required version is 2.38.0):
{
  "azure-cli": "

[2022-10-13 03:05] jongio commented on #857
Can we switch this to parse the enum so it can be dynamic and future proof?

ie. When we get AzureResourceTypeStaticWebSite we print Static Web Site.

1. Remove "AzureResourceType"
2. Take the rest and split on upper case letters and add a space between them.

We never know what future RP will be there and we don't want to have to do a CLI release to support any unknowns.

[2022-10-13 04:02] #820 closed

[2022-10-13 08:46] zzhxiaofeng opened #893 "Pipeline generated through `azd pipeline config` fails with `mvnw: permission denied`"
**Describe the issue:**
Logs is fail when run pipeline test in github and azure devops in windows.

**Repro Steps:**
Run command:` azd pipeline config` or `azd pipeline config --provider azdo` and verify logs is passed succesfully or not.

**Error Message:**
![image](https://user-images.githubusercontent.com/20970631/195545072-82500446-95cf-4adf-ab1e-d8667a784aac.png)

**Environment:**
OS: Windows

[2022-10-13 09:37] zedy-wj commented on #866
@vhvb1989

1. After investigating, we found that `azd` detects it's in `devcontainer` and logs in with `--use-device-code`. About this issue, we can run a browser from the container through the `az login` method. After testing, the issue is no longer reproduced, do you think this way is feasible, or do you have the other way?

2. Back to the way of logging in with the `--use-device-code`, there ar

[2022-10-13 17:18] weikanglim commented on #893
Hi @zzhxiaofeng can you share:
1. The repository you cloned the template into
2. The build pipeline that has the failure

The issue is likely that the `mvnw` script doesn't have executable script set. I'm still trying to dig deeper.

[2022-10-13 17:31] #285 closed

[2022-10-13 17:39] weikanglim commented on #872
This was actually my mistake. I had in `/root` in WSL, an `azure.yaml` file that was created long ago, which resulted in `azd pipeline config` using that directory.

[2022-10-13 17:39] #872 closed

[2022-10-13 18:26] weikanglim commented on #893
I was able to reproduce the issue now.

The issue is that when you use `azd init` to clone the template on Windows:
1. We clone the repository using `git` (which executable bit permissions are stored in `git`)
2. We then delete the `git` repository (since `azd init` is meant for template download). This deletes all permission information that stored in `git`.
3. When we run `azd pipeline config`,

[2022-10-13 20:10] wbreza commented on #248
@puicchan @savannahostrowski - Should the CLI create an additional user prompt to explicitly purge the app configurations? Or should we bundle all purgeable resources (keyvault + appconfig) into a single user facing prompt?

[2022-10-13 20:22] puicchan commented on #248
Keep it simple as Savannah said until we hear otherwise from customers.

[2022-10-13 20:56] vhvb1989 commented on #893
great finding @weikanglim

Should we just run something like `git remote remove origin` instead of deleting the .git folder?
The only thing we want is to break the origin

[2022-10-13 23:22] #717 closed

[2022-10-14 04:02] rajeshkamal5050 commented on #107
@weikanglim closing this one too assuming your fix should also surface up **_ContainerAppInvalidMemoryResource_**
- https://github.com/Azure/azure-dev/pull/838

[2022-10-14 04:02] #107 closed

[2022-10-14 06:10] zedy-wj commented on #893
@weikanglim - Thank you for your help! We tried to execute `git update-index --chmod=+x src/api/mvnw && git commit -m "Fix executable bit permissions" && git push` after creating a new `git` repository with command `azd pipeline config`, and this issue can be fixed. Following this approach above, the `azd pipeline config` command will fail first. After adding the `executable bit permissions`, the

[2022-10-14 06:31] zedy-wj commented on #197
@vhvb1989 - Thank you for your help! We were blocked when using a private account to sign up for a free trial of azure portal, which requires a visa or master card, we have applied for it, and we expect to start testing next week.

We can use our own personal account to verify the feasibility of the service principal login method in both environments( `Codespace`, `Linux Ubuntu 20.04` ), but this

[2022-10-14 17:07] Petermarcu commented on #821
Potentially add an install.sh / install.cmd to the root of each template repo that xcopies down azd but also does the checks/brings down other dependencies. Other solutions I've seen put azd.sh or azd.cmd in the root, that script passes all args through to azd.exe if it's found, if it's not found, it will go get it and then run it.

[2022-10-14 17:09] Petermarcu commented on #821
Would be good to categorize different dependencies as well. It's good to check for all up front and give good warnings. For certain ones, getting it for the user is a good answer, for others, it's better to have them get it and configure it themselves.

[2022-10-14 17:49] weikanglim commented on #893
@vhvb1989 Yes, that is the spirit of the solution -- we'd have to be more careful in rewriting the cloned commit message, pruning leftover git objects that could be around. But the main resulting behavior is that `azd init` now creates a git repository whereas previously it just downloaded the template files -- which is the thing I'm looking for feedback on.

[2022-10-14 17:51] weikanglim commented on #893
@zedy-wj I don't think the workaround is ideal either, but it's a bug in `azd init` that requires a feature change and thus needs further discussion. Alternatively, `azd pipeline config` will succeed if ran on Linux instead of Windows

[2022-10-14 21:18] savannahostrowski commented on #468
1. Yes + you'll need to auth with the free account
2. Free account with $200 credits link -  https://azure.microsoft.com/en-us/free/

[2022-10-14 21:34] savannahostrowski opened #898 "[Issue] Surface `docker build` output as part of `azd deploy` output"
Right now, during `azd deploy` no information is shown around building a docker image. In the template I'm working on, the `pip install`  takes a good while (not an azd problem :D) so this feels like a really long time without any progress (like ~5 mins):
![image](https://user-images.githubusercontent.com/8949415/195886653-c6e11b7b-b275-4417-934a-957d8e1ee2ec.png)

I think it'd be really helpful t

[2022-10-14 22:17] weikanglim opened #899 "Refactor context dependencies into injected dependencies"
Success criteria:
- No dependencies are being used in `context`. `context` should only be used for scoped request variables -- not application logic
- Manually constructed dependencies inside action.Run should equally be moved into the dependency injection chain

[2022-10-14 22:19] weikanglim opened #900 "Refactor actions and flags into distinct packages"
Currently, the files in `cmd` has flags, actions and the command design all defined in a single file. This needs to be refactored out (ideally when people aren't working on command changes).

[2022-10-15 18:12] vhvb1989 commented on #898
Adding @Austinauth.

currently, we don't have `multi-line temporal log` support for outputs.  We only have `single-line temporal log` support.

[2022-10-17 07:29] marnixcox opened #901 "[Issue] Pack and push NuGet project to Artifacts in Azure Pipelines"
- [ ] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
`azd version 0.3.0-beta.1 (commit c5344160ed49bfda75281fba28b5e9ac7b96670e)`

**Output from `az version`**
[code]
**Describe the bug**
Please advise how to publish a (C#) project as a NuGet package to DevOps Artifacts using azd cli.

[https://learn.microsoft.com/en-u

[2022-10-17 09:49] v-xuto commented on #865
@jongio We do the manual test about template (`todo-python-mongo-swa-func` and `todo-python-mongo`), also encountered the same error when Azure Dev Deploy finished.

**Error:**
![image](https://user-images.githubusercontent.com/57166602/196145401-e17801a6-8255-4627-a2c0-18a4940b4f21.png)

**Environment:**
OS: Windows desktop
Templates:
https://github.com/Azure-Samples/todo-python-mongo-swa-func
ht

[2022-10-17 10:08] v-xuto commented on #865
@jongio We do the manual test about template (`todo-python-mongo`), also encountered the same error when Azure Dev Deploy finished.

**Error:**
![image](https://user-images.githubusercontent.com/57166602/196145401-e17801a6-8255-4627-a2c0-18a4940b4f21.png)

**Environment:**
OS: Windows desktop
Templates:
https://github.com/Azure-Samples/todo-python-mongo
Branch: [pr/892](https://github.com/Azure/az

[2022-10-17 15:03] danieljurek commented on #370
Further discussion with @philliphoff on Friday yielded a few more pieces of information.

* dotenv tasks cannot presently "end" when a nested background task reaches an "end" ... this means that for frontend debugging we'll never launch the browser because the the `Web npm start` task never completes.
* We can't launch a browser from codespaces inside the browser, this appears to be a limitation o

[2022-10-17 15:18] Austinauth commented on #594
** Update 10/17/2022**
This update covers the work completed last week.

- Prototype extension successfully installed but did not have a chance to ideate on improvements yet
- Scope of design work needed is likely less than initially suspected
- **This week:** I will do a mini audit on the functionality (much smaller than the Awesome AZD audit)
- **This week:** I will explore minor UX tweaks like:

[2022-10-17 18:39] karolz-ms opened #904 "Leverage new VS Code localization API"
VS Code is introducing a new API for localization: https://code.visualstudio.com/updates/v1_72#_localization-as-part-of-the-api

We should:
- review the localizable strings that we have in `package.nls.json`, leaving only those that are referenced by `package.json` (and thus cannot leverage the new API)
- convert all the only-used-from-code strings to use the new API

[2022-10-17 20:58] vhvb1989 commented on #197
@zedy-wj , lets skip `azd pipeline` validation from the `codespaces` scenario for now.

And for wsl/dev-container, you have made it work by adding the `--scope ` arg to `az login` before `azd pipeline config` right?

So, are we unblock 100% if we just skip the `codespaces` approach?

(I will propose to return a message like `pipeline config operation is not supported when running within codespaces

[2022-10-17 21:02] vhvb1989 commented on #866
Please skip this environments for now.  We need to make `azd` to return an error and mention that `pipeline config` is not supported for those configurations.

Until that is done, please skip those scenarios from `pipeline config` tests to unblock

[2022-10-17 22:06] rajeshkamal5050 commented on #602
Issues which are tracked here,
- Bubbling up underlying deployment errors. Should have been fixed as part of #786
- Auto-retries in Azd for transient errors before giving up.

[2022-10-17 22:07] rajeshkamal5050 commented on #602
@KSchlobohm's update offline for issue 1 above - `From the logs, it looks like the azd deploy is failing because the Azure App Service we are deploying to is not ready or may not be healthy and is recovering. The recommended step is to re-run the azd deploy command.`

[2022-10-17 22:10] rajeshkamal5050 opened #907 "`azd provision` successful but configuration settings on App Service is not set"
Reported offline by @KSchlobohm as below.

Second, we're seeing this issue that we've learned to monitor - https://github.com/Azure/scalable-web-app-pattern-dotnet/issues/87

In this scenario, we're seeing that the App Service and all other resources are deployed successfully but that the configuration settings on the App Service were not set. This causes the app to fail when it starts because of

[2022-10-18 00:19] weikanglim commented on #602
Zip deploy is a long running async operation. Retrying it on the client might not be the best (we end up incurring few minutes delay per each). Ideally, the resiliency needs to be built in within the service.

@KSchlobohm can you help us understand how often you're running into this specific issue? An additional troubleshooting step is to look at the deployment history -- zipdeploy will end up sto

[2022-10-18 00:38] weikanglim commented on #907
I don't think it's likely to be a race-condition in Azure services, given that the time between the provision and actual usage is @2 minutes apart, which is pretty lengthy. It's also pretty common for service deployments to do a config deployment, followed by an app deployment, but I have not found anyone reporting a similar issue.

I also briefly looked at the [bicep](https://github.com/Azure/sca

[2022-10-18 05:39] aaronpowell opened #908 "Service build phase doesn't support mixed language services"
**Output from `azd version`**
Run `azd version` and copy and paste the output here:

`azd version 0.2.0-beta.2 (commit bdd2dfe1f31494642145e4383bc50a2818559e2c)`

**Output from `az version`**
Run `az version` and copy and paste the output here (minimum required version is 2.38.0):

[code]

**Describe the bug**
I have a project that is an Azure Static Web App that deploys to the free tier and as su

[2022-10-18 09:18] zedy-wj commented on #197
@vhvb1989 -
First, for the wsl/devcontainer environment, we have made it work by adding the `--scope` arg to `az login` before `azd pipeline config`

Second, according to your suggestion, after we use the `service principal` ( private account ) login method, we run the `azd pipeline config` command, and in the linux and codespace environments, all passed. But besides the permission `Application.Re

[2022-10-18 14:59] Austinauth commented on #898
@vhvb1989 Can you explain a little further? I'm not sure what that means.

[2022-10-18 15:15] savannahostrowski commented on #898
@Austinauth Right now, we support single line status/progress (e.g. azd provision; each operation gets it's own line).

As part of azd deploy, we run docker build to build the container image before sending it off to ACR and then using it in the deployment. However, we don't actually show the Docker output as part of the azd deploy command. Instead, the user just sees image #1.

Image 2 is what th

[2022-10-18 16:36] rajeshkamal5050 commented on #908
@aaronpowell can you share your azure.yaml file?

[2022-10-18 16:40] rajeshkamal5050 commented on #901
@marnixcox shouln't this be already be achievable via azdo directly? Does Azd limit that?

@danieljurek @vhvb1989 can you also take a look from Azd side if we limit azdo features?

[2022-10-18 16:49] danieljurek opened #909 "Unprintable characters"
This diff includes unprintable characters which cause copy/paste of the instructions to result in failures: https://github.com/Azure/azure-dev/commit/466e497fce8855d292324f4e31013314938ca1de

Are there other files with unprintable characters in the repo?

[2022-10-18 16:54] puicchan opened #910 "Add OIDC for azd pipeline config (GitHub Action)"

[2022-10-18 16:56] danieljurek commented on #909
A search through the codebase of the found unprintable characters turned up no other instances in the rest of the codebase at this time.

[2022-10-18 17:06] vhvb1989 commented on #197
When you mention `linux ubuntu 20.04`, can you elaborate about it?
Is it wsl running Ubuntu and you are you using VSCode to connecto to it?
is it wsl running Ubuntu and you are using a command line directly (no vscode?)?
is it a docker container running Ubuntu?
Is it a Virtual Machine from the cloud, running ubuntu and you are using ssh to connect to it?  (with or without vscode?)
Is it a real PC

[2022-10-18 17:10] ellismg commented on #711
[Here's](https://github.com/ellismg/azure-dev/tree/ellismg/add-auth) my work in progress branch.  I'm rebasing this frequently so I wouldn't encourage anyone to branch off the top of it, but you can start to get a sense for what the changes will look like.

[2022-10-18 17:10] vhvb1989 commented on #910
duplicated from https://github.com/Azure/azure-dev/issues/408 ?

[2022-10-18 17:56] ellismg commented on #408
This probably impacts the work we want to do for `azd login`, since `azd login` will likely have to do something different when using OIDC to authenticate.  We'll need to look at how `az` handles this today.

[2022-10-18 20:16] aaronpowell commented on #908
I just realised I put the wrong git repo in the issue, it should have been https://github.com/newpatiente2e/Contoso-New-Patient-App.git, which has the azd stuff.

Here's the `azure.yaml` - https://github.com/newpatiente2e/Contoso-New-Patient-App/blob/main/azure.yaml, contents are:

[code]

[2022-10-18 20:22] #909 closed

[2022-10-18 21:25] vhvb1989 commented on #901
azd can create the cloud resources to host a C# application and set up an Azure DevOps pipeline for continuous integration.  If you need to do more things with the same pipeline, you can update the pipeline manually.

Can you describe with more details what is the project you are creating with azd @marnixcox ?

[2022-10-19 01:12] tonybaloney commented on #904
The API isn't totally formalized, so there is a likelihood of it changing in the next release (causing backward incompatibility issues).

[2022-10-19 01:36] tonybaloney opened #913 "[Feature] Offer a Github Action for verifying/linting templates"
We're developing a number of AZD templates and need a way to statically analyse the templates (without deploying them) so that we can check regressions.

This would involve the following steps:

1. Checking the bicep templates using [`bicep` linter](https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/linter)
1. Checking the `azure.yaml` against the YML schema using a schema valida

[2022-10-19 02:11] zedy-wj commented on #197
It's a  Virtual Machine from the cloud, running ubuntu and we are using ssh to connect to it without vscode.

[2022-10-19 04:39] vhvb1989 commented on #197
using shh only won't be enough, unless you use some ssh console that supports port forwarding.
For example, using VSCode with either ssh-remote extension or secure-tunnel to stablish the connection to the Virtual Machine will allow you to launch your browser locally to do log in for the az cli and redirect the response to the VM.

But, there's really no need to test all the specific Linux configur

[2022-10-19 14:35] danieljurek opened #914 "[codespaces] Web app does not follow redirects from "private" port"
When hosting an API and Web app in codespaces the API URL must be made "Public" ... This is (partially) because the react app does not follow redirects when running in the client's browser.

Repro steps:
1. Create codespaces instance against a sample repo ([example](https://github.com/Azure-Samples/todo-csharp-sql))
2. Provision resources
3. Launch debug for the API
4. Manually mark the port as "P

[2022-10-19 14:37] danieljurek opened #915 "[codespaces/vscode] When launching "debug" for API we should ensure that azd provision succeeded"
When launching debug we should check to ensure that `azd provision` has run successfully before launching. Otherwise the user will receive obscure errors relating to the API app amounting to a lack of resources or configuration (depending on how the API app is written)

[2022-10-19 14:37] danieljurek opened #916 "[codespaces] vscode plugin is installed by default but still get prompt to install it"
This probably needs to be routed to someone on vscode team.

The azd vscode extension is in the `devcontainer.json` file ([example](https://github.com/Azure/azure-dev/blob/main/templates/common/.devcontainer/devcontainer.json/java/devcontainer.json#L20)) yet we sometimes see alerts to install it.

Repro steps:
1. Create new codespaces instance of a repo (e.g. https://github.com/Azure-Samples/todo-

[2022-10-19 14:54] danieljurek opened #917 "One-step debug experience for Web projects"
Using "[background](https://code.visualstudio.com/Docs/editor/tasks#_background-watching-tasks)" tasks in "dotenv" does not result in "control" being returned. The result is that attempting to set a `preLaunchTask` in `launch.json` will never result in the debugger launching.

In the below example of `Start Web` the `Web npm start` task will never end because `npm run start` runs continuously in t

[2022-10-19 15:40] danieljurek commented on #915
This is not a problem. The `dotenv` tasks used to prepare debugging error out when no environment is found.

[2022-10-19 15:40] #915 closed

[2022-10-19 15:42] karolz-ms commented on #904
@tonybaloney roger. That is why this issue is in "Backlog" milestone.

[2022-10-19 15:43] danieljurek opened #918 "[vscode] Support Codespaces web launch without debugger experience"
From discussions in https://github.com/Azure/azure-dev/issues/370

Web debug should work by clicking "play"
* Insert a hosted `url` value in `launch.json` (in codespaces) or `localhost:3000`

* Implement a task which can run commands like the Web npm start task, but with a dotenv file (location dynamically determined). This task would need to use matchers so that it could pass control back to the

[2022-10-19 16:16] savannahostrowski opened #919 "[Issue] Prompted to run az login as part of azd up (failed running `az account get-access-token`)"
- [ ] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
Run `azd version` and copy and paste the output here:

**Output from `az version`**
Run `az version` and copy and paste the output here (minimum required version is 2.38.0):

**Describe the bug**
![image](https://user-images.githubusercontent.com/8949415/196747044-f6

[2022-10-19 16:26] timheuer opened #920 "[Issue] Hitting failed deploy due to `az` cli version upgrade prompt again"
I was running `azd up` and it failed on deploy.  When I re-ran `azd deploy` I saw a familiar message and realized I'm hitting the issue again where the underlying `az` cli was outdated and there was an interactive prompt waiting for input that caused the command to fail.

![image](https://user-images.githubusercontent.com/4821/196748772-3607c681-0458-4617-8f0f-02f43726b1a6.png)

[2022-10-19 16:40] jongio commented on #910
Dupe: https://github.com/Azure/azure-dev/issues/408

[2022-10-19 16:40] #910 closed

[2022-10-19 17:30] danieljurek opened #921 "Deployed app CORS rules prevent working with web in debug mode"
When debugging the web application against a deployed App Service, or Function app we encounter CORS rules configured on the apps themselves that preclude debugging.

![image](https://user-images.githubusercontent.com/2158838/196763206-2f60735a-cbdb-4ba3-a818-a757c9f3e80f.png)

[2022-10-19 18:03] danieljurek opened #922 "[codespaces] Python virtual environment setup"
When launching Python codespaces alerts come up before build... What's the earliest time we could/should run the vscode `azd restore` command? Python projects should also communicate with the Python extension, if possible, and indicate the appropriate interpreter (this could get interesting with multiple python projects)

Example error message in first run:

![image](https://user-images.githubuser

[2022-10-19 18:12] danieljurek opened #923 "[codespaces] Python extension not installed by default even when configured in devcontainer.json"
When attempting to debug a python app:

![image](https://user-images.githubusercontent.com/2158838/196771067-9f87e53b-ea3e-4b3a-bba6-90ed04ec357f.png)

The `devcontainer.json` file contains an entry for the Python extension ([example](https://github.com/Azure-Samples/todo-python-mongo-swa-func/blob/main/.devcontainer/devcontainer.json#L24))

Yet the interface reports that the extension is not inst

[2022-10-19 18:19] danieljurek commented on #923
Rebuilding the container appears to have helped on this one. Is there a way to make sure the requisite extensions are installed?

[2022-10-19 18:55] pamelafox commented on #112
FYI, I also found environment confusing when I found it in the AZD templates, since I now associate "environment" with "Container App Environment" when I see it in an Azure context. So I guess now developers can create azd environments with container app environments inside them?  Seems a bit confusing, especially if the developer is currently azd'ing an ACA template.

Anyways, I think some sort o

[2022-10-19 21:15] Petermarcu commented on #602
If you use azure core from the azure go sdk, you can take advantage of the pipelines that have all kinds of patterns built in for retries, exponential backoff, etc.

[2022-10-19 21:16] Petermarcu commented on #602
Also, if we can get an openapi spec for the service endpoint we're calling, we could generate a library that has these retries built in.

[2022-10-19 21:49] savannahostrowski opened #924 "[Issue] Add with "Create with the Azure Developer CLI" to the resource creation options"
With the Azure Tools extension pack installed, a developer can create a new resource by clicking on the + in the resources pane. Once they click the button, they are provided with options (see below).

![image](https://user-images.githubusercontent.com/8949415/196810829-f30b6101-a78d-4f59-b769-53651833e663.png)

We should add an option to that says (I'm open to suggestions on the wording):

Use th

[2022-10-19 22:17] pamelafox opened #926 "[Issue] siteConfig settings (linuxFxVersion/appCommandLine) aren't updated incrementally"
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**

azd version 0.3.0-beta.2 (commit 91a2c014887ebda63a0af2e623278f8ac40ce376)

**Output from `az version`**

[code]

**Describe the bug**

When I do repeated `azd deploy` commands with changes to `properties.siteConfig` in my `Microsoft.Web/sites` resource, I don't see

[2022-10-19 22:34] savannahostrowski opened #927 "[Issue]VS Code report issue button brings you to a 404"
I'll file a bug for how this occurred but the link that this "Report an issue" button brings you to is a 404

![image](https://user-images.githubusercontent.com/8949415/196817272-792c3415-348a-4925-9b33-f2f73c4fff5f.png)

Link: https://github.com/Microsoft/azure-dev/issues/new?body=The%20issue%20text%20was%20copied%20to%20the%20clipboard.%20%20Please%20paste%20it%20into%20this%20window.

[2022-10-19 22:54] danieljurek opened #928 "[codespaces] azd command does not launch new URLs"
Repro steps:

1. Create codespace from template repo ([example repo](https://github.com/Azure-Samples/todo-nodejs-mongo/))
2. Run `azd up`, follow auth procedure, wait for deployment
3. Run `azd monitor --live`

Expected: metrics tab launches in browser
Actual: Error in console like

[code]

[2022-10-20 00:32] #831 closed

[2022-10-20 00:42] savannahostrowski commented on #640
@puicchan Will you have anything for Austin to work on here during November or should we move this to the new year?

[2022-10-20 00:44] savannahostrowski commented on #822
Moving this to November (later half of the month)

[2022-10-20 00:45] savannahostrowski commented on #637
I'm actually going to close this item for now as I think the work is largely being taken care of in other items.

[2022-10-20 00:45] #637 closed

[2022-10-20 00:45] savannahostrowski commented on #468
Moved this to November!

[2022-10-20 00:51] jongio commented on #926
We have been seeing app service issues over the last couple of days.  This could be related.

[2022-10-20 00:53] jongio commented on #907
I have been seeing this as well.  It is intermittent.  I have discussed with the bicep team and they believe that it could be related to an RP issue.  I'd like to try to test the templates w/o azd to confirm it is not related to azd.  That would mean loading values from .azure/.env and calling az deployment methods directly.

[2022-10-20 00:54] jongio opened #929 "Update terraform modules to match bicep"
With #892 we reduced the number of bicep files in /host and cleaned up /database.

I'd like to see if we can do something similar for terraform modules.

[2022-10-20 01:09] jongio opened #930 "test-template.sh should include a final report"
There's a lot of output from that .sh file and it's hard to know if all the templates passed when running locally.

I would like to see a pass/fail report at the end of the run.

[2022-10-20 01:12] jongio opened #931 "[Issue] test-templates.sh error: "continue: only meaningful in a `for', `while', or `until' loop""
If an operation fails, I see this:

`test-templates.sh: line 135: continue: only meaningful in a `for', `while', or `until' loop`

[2022-10-20 01:13] jongio opened #932 "[Issue] 503 when running up on template with func"
I'm seeing this when running up on a template with func in it.  I think it is because we try to deploy to a function before the zip deploy endpoint is ready.

I believe we need to have a retry here.

[code]

[2022-10-20 01:48] pamelafox opened #933 "[Issue] Can't deploy environment that includes a PostGreSQL flexible server in eastus2"
**Output from `azd version`**

azd version 0.3.0-beta.2 (commit 91a2c014887ebda63a0af2e623278f8ac40ce376

**Output from `az version`**

[code]

**Describe the bug**

When I attempt to employ the django sample app in eastus2, it fails with an error like:

[code]

Screenshot from Portal of failed deployment:

<img width="949" alt="Screen Shot 2022-10-19 at 6 47 57 PM" src="https://user-images.github

[2022-10-20 03:13] pamelafox commented on #933
Not really- the status is "Conflict" and here's the status message:

[code]

[2022-10-20 05:02] rajeshkamal5050 commented on #932
Also, since the previous **_provision_** step is not truly done. The subsequent deploys are failing since the services are not fully up and running yet.
- It will be good if we can we also look at other **_deploy_** scenarios/hosts which might potentially return 5XX error codes for adding retries.
- It will also be good to look at how we can add post-validations to the **_provision_** step and fai

[2022-10-20 06:05] rajeshkamal5050 commented on #927
Looks like the link is broken. Should change **_Microsoft_** to **_Azure_** in the URL.

[2022-10-20 13:48] danieljurek opened #935 "[codespaces] Monitor commands do not launch new browser tabs"
The command launches `xdg-open` which is not available in Codespaces.

Recommend using what gh CLI and/or az CLI do to launch the browser.

[2022-10-20 15:24] puicchan commented on #913
We should have a command to do this using the CLI without going through GH Action. And we have heard from multiple customers asking for this. @jongio @ellismg

[2022-10-20 15:29] pamelafox commented on #933
Okay so I just tried creating a PostGreSQL server from the command line and got an error:

[code]

The pricing page indicates it's available in East US 2:
<img width="1345" alt="Screen Shot 2022-10-20 at 8 27 46 AM" src="https://user-images.githubusercontent.com/297042/196992138-0f8dd9e5-00a3-4590-a5db-a00897aa9ab2.png">

So there's some disconnect with the availability. It's also problematic that

[2022-10-20 15:42] pamelafox commented on #933
I've pinged a PG Flex PM about this issue.

[2022-10-20 15:56] savannahostrowski commented on #102
I'm going to close this for now until I have more concrete next steps.

[2022-10-20 15:56] #102 closed

[2022-10-20 16:34] weikanglim opened #936 "`daily` container images don't show up in `mcr.microsoft.com`"
`mcr.microsoft.com/azure-dev-cli-apps:daily` is currently an old build. Our daily `main` builds are not publishing this tag correctly.

[2022-10-20 16:53] jongio commented on #408
I investigated the azure/draft OIDC setup-gh command and it is doing the same thing that my oidc.sh script does.

It heavily uses `az ad` and other `az` commands.

To implement OIDC in azd we'll need to:

Implement the flow found in my oidc.sh script but using the Azure AD REST APIs directly.

We may also add these features to the Azure ID libs:
https://github.com/Azure/azure-sdk-for-go/tree/main/

[2022-10-20 17:14] philliphoff opened #937 "[Feature] `azd env delete` command to delete an existing environment"
While a `azd env new` command exists to create environments, there's no symmetric command for deleting them.  While users/tooling can remove the environment folder manually, there's related AZD internal state (such as the current default environment setting) that may be impacted and would be best for the `azd` CLI to manage.

[2022-10-20 17:36] jongio commented on #865
Please try again with main.  If it fails, please leave it in failed state and provide me and @weikanglim with a link to the env.

[2022-10-20 17:40] jongio commented on #526
two diff imo.
This one is "get them out there".   #425 is work with docs team to make azd samples standout in the browser with a blue check.

[2022-10-20 18:30] rajeshkamal5050 commented on #893
@weikanglim so should we document this as a known issue with workarounds for November release?

[2022-10-20 18:48] pamelafox commented on #933
Okay, so apparently it is only a limitation for internal accounts, so external developers won't experience it. However, I would like to figure out at what point "No available SKUs in this location" turns into the undecipherable "Internal Server Error" to save on future hours debugging issues like that. That's likely not in this project, but if anyone knows an appropriate place for filing that, I'd

[2022-10-20 18:56] weikanglim opened #938 "Should `azd init` also create a git repository?"
This solves the problem of templates not able to preserve Linux filesystem `exec` bit permissions when `azd init` is ran on Windows.
See #893 for an example.

This also potentially helps with the extra step of creating a git repository.

## Proposed change

1. When `azd init` is ran on a non-git-initialized directory, a git repository is created with the default branch `main`. All files are staged

[2022-10-20 18:59] weikanglim commented on #721
@savannahostrowski Do we depend on `AzureCli` Kusto database? I searched for `AzureCli` references in our  "Azure Developer CLI" telemetry dashboard and did not find any

@wbreza Are there other dashboards than "Azure Developer CLI" that you were thinking of?

[2022-10-20 19:09] rajeshkamal5050 commented on #933
@jongio @ellismg any pointers on how to get this re-directed and moved?

[2022-10-20 21:30] philliphoff commented on #927
The common library that manages telemetry and error reporting assumes by default that its extensions exist within the `microsoft` org, if not told otherwise.  I've filed an issue for [that](https://github.com/microsoft/vscode-azuretools/issues/1256) as that may not be the best default logic, but we can also just be specific and set the `bugs` URL in `package.json`.

[2022-10-21 02:30] zedy-wj commented on #197
@vhvb1989 - Thanks for your suggestion, we will discuss it.

@rajeshkamal5050 - We have tested `Ubuntu in wsl from VSCode`. Do we need to perform tests in the `Linux Desktop` environment? Currently in the test plan, both linux and wsl need to be tested.

[2022-10-21 04:23] zedy-wj commented on #865
@jongio - We have tried again with main, it is still unstable. When we execute the command `bash ./test-templates.sh -c false -t todo-python-mongo`, the playwright test failed. At this point, when we click the [api site](https://app-api-4lfkbyaf7ycse.azurewebsites.net/), it reported `Application Error`. After a period of time, the api service can be deployed successfully, and the error will not oc

[2022-10-21 15:17] pamelafox opened #946 "[Issue] Samples use deprecated features syntax in devcontainer.json"
**Describe the bug**
I copied the devcontainer.json from https://github.com/Azure-Samples/todo-python-mongo/blob/main/.devcontainer/devcontainer.json for my own azd template.
When I open the template in devcontainer, I see these warnings:

[code]

**To Reproduce**

1. Open codespaces for https://github.com/Azure-Samples/todo-python-mongo
2. Watch the log

**Environment**

VS Code:
Version: 1.72.2

[2022-10-21 15:51] savannahostrowski opened #947 "[Issue] .zip file appears in files during azd up in a Codespace"
During azd up in a Codespace, there's a temporary file (the zipped project? for deployment maybe?) that appears in your project files. It does disappear once the deployment happens but is this intentional? A bug?

![image](https://user-images.githubusercontent.com/8949415/197236968-a0d2a2aa-b3e9-46fd-9920-30fcbc10e35b.png)

[2022-10-21 15:56] savannahostrowski commented on #928
I can't actually reproduce this.

I tried running `azd monitor` via azure.yaml and also by typing `azd monitor --live` into the embedded terminal and both correctly prompted me to consent to opening the page. This worked as expected in my Codespace!

[2022-10-21 16:00] savannahostrowski opened #948 "[Issue] `azd pipeline config` cannot set AZURE_CREDENTIALS from Codespaces"
Feel free to close if we are tracking this elsewhere. This is the output I get in Codespaces when I run `pipeline config`.

Note that I forked the template and then opened the Codespace.

[code]

[2022-10-21 16:18] pamelafox opened #949 "[Issue] Codespaces reports issue with dotenv task on first build"
**Describe the bug**

When I open the https://github.com/Azure-Samples/todo-python-mongo sample in Codespaces (in the browser), I see these errors about the "dotenv" task type:

<img width="492" alt="Screen Shot 2022-10-21 at 9 14 20 AM" src="https://user-images.githubusercontent.com/297042/197242104-bbbeb3b9-a5bc-4dd2-80f4-88c7932ef414.png">

<img width="1013" alt="Screen Shot 2022-10-21 at 9 14

[2022-10-21 16:19] savannahostrowski opened #950 "[Issue] "Debug web" throws errors in Codespaces"
I'm using the todo-nodejs-mongo-swa-func template in Codespaces and on clicking "Debug web" I see these errors and am unable to see the application if I click to navigate to port 3100 from the ports window (it infinitely loads).

![image](https://user-images.githubusercontent.com/8949415/197241416-8de44c6e-8a7d-4ccd-b297-f3bfdc8cb82a.png)
![image](https://user-images.githubusercontent.com/8949415/

[2022-10-21 16:21] pamelafox opened #951 "[Issue] Codespaces suggests Azure-Dev extension even though it's installed"
**Describe the bug**

When I open https://github.com/Azure-Samples/todo-python-mongo in Codespaces (in the browser), I see a suggestion pop up at the start about installing the Azure Dev extension:

<img width="483" alt="Screen Shot 2022-10-21 at 9 14 28 AM" src="https://user-images.githubusercontent.com/297042/197242642-d7374c4c-8ee2-4445-b6a7-0cdf5c37f0df.png">

That's very peculiar, since the A

[2022-10-21 16:37] danieljurek commented on #935
Fixed in https://github.com/Azure/azure-dev/pull/934

[2022-10-21 16:37] #935 closed

[2022-10-21 16:37] danieljurek commented on #928
Fixed in https://github.com/Azure/azure-dev/pull/934

[2022-10-21 16:37] #928 closed

[2022-10-21 16:39] pamelafox opened #952 "[Issue] Error opening sample in devcontainer in local M1 MacBookPro VS Code"
**Output from `azd version`**
(I don't believe it would be accurate to report this, since this issue is about azd in the Docker)

**Describe the bug**

When I git clone https://github.com/Azure-Samples/todo-python-mongo locally and open in VS Code with the Devcontainer extension, it prompts me to reopen in the devcontainer.

I then reopen in devcontainer, but it always errors out on the stage of i

[2022-10-21 16:39] #927 closed

[2022-10-21 16:40] #675 closed

[2022-10-21 16:40] savannahostrowski commented on #721
Nope - we shouldn't!

[2022-10-21 16:41] savannahostrowski commented on #893
cc: @puicchan for docs on this known issue for the November release.

[2022-10-21 16:45] puicchan commented on #893
@weikanglim, can you provide the verbiage to @hhunter-ms so we can get this updated?

[2022-10-21 16:52] puicchan opened #953 "Document known issue for running azd pipeline config (azdo) for Java template on Windows"
Refer to https://github.com/Azure/azure-dev/issues/893

1. User runs azd init --template Azure-Samples/todo-java-mongo on Windows (only combination of Windows + todo-java-mongo)

2. User runs azd pipeline config

3. The pipeline runs on the github/azdo, but fails due to mvnw: permission denied

To workaround, run:

git update-index --chmod=+x src/api/mvnw && git commit -m "Fix executable bit permi

[2022-10-21 17:04] vhvb1989 commented on #947
The best thing would be probably to use a /temp folder to hold the deployment .zip file.

But, yes, this is somehow expected @savannahostrowski

Also adding @wbreza for feedback.

At the end, is it too bad to see this temporally zip file there @savannahostrowski ?

[2022-10-21 17:07] savannahostrowski commented on #947
I figured that this might be expected. Honestly, this temporary file is inconsequential as it resolves as soon as the deployment is completed. I feel like for polish, it'd be nice to have a `temp/` folder store this file but this is a non-blocking item for shipping Codespaces IMO.

[2022-10-21 17:27] wbreza opened #955 "Add set of `config` commands for `azd` to store default values."
Today we leverage `az` CLI to pull defaults for default account/subscription and any default location set.

- [ ] Remove `az` CLI dependency from default checks

When running `azd` perform the following:
- [ ] Look up local `azd` config file in the users home directory `~/.azd/config.json`
- [ ] If no config is found, default to first option in the list for subscription & `eastus2` for default loc

[2022-10-21 17:31] puicchan opened #957 "Nov release doc update"
- [x] Add Java support
- [x] #953
- [x] #855
- [x] #866
- [x] #1041

[2022-10-21 17:36] wbreza commented on #720
@weikanglim - we already include our user agent string in all calls through the Go SDK modules and MS graph.  Is there anything else that we need here?

[2022-10-21 18:05] #803 closed

[2022-10-21 18:07] bradygaster opened #958 "[Feature Request] Enable file editing with azd"
Bicep enables me the ability to read a JSON file during a build. This is great, as I can use a JSON file with settings that need to be applied to the deployment. However, it lacks the ability to edit a JSON file, so for some scenarios, I can't configure my app during an AZD deployment exercise.

For example, I have a Blazor WASM project I want to deploy. BWASM apps don't have the ability to read f

[2022-10-21 18:16] jongio commented on #946
@pamelafox would you want to do a pr for this?

[2022-10-21 18:26] weikanglim opened #960 "Need type-safety in `asker` to avoid runtime errors"
We should take advantage of generics now to avoid runtime errors when prompting with a default value.

_Originally posted by @weikanglim in https://github.com/Azure/azure-dev/pull/959#discussion_r1002073930_

[2022-10-21 18:32] jongio commented on #865
Can you try with a different region and see if you get the same error?

[2022-10-21 18:36] jongio commented on #933
Please try with the latest build from main.  We prop errors now. https://github.com/Azure/azure-dev/blob/main/cli/installer/README.md#download-from-daily-builds

[2022-10-21 18:37] jongio commented on #938
Unless we have data that says we need to support devs using something other than git, then I'm okay saying that git is a requirement for azd.

[2022-10-21 18:44] pamelafox commented on #946
Sure, I'm happy to make PRs, I wasn't sure if your samples are auto-generated from a source repository or if the PRs would go to the sample repos themselves? (I see a lot of "Repoman" commits which makes me wonder)

[2022-10-21 18:45] pamelafox commented on #946
I just found https://github.com/Azure/azure-dev/blob/main/templates/common/.devcontainer/devcontainer.json/python/devcontainer.json in this repo which seems perhaps like it is the source for the samples.

[2022-10-21 20:31] ellismg commented on #947
I think the only place we ever create a zip file today is done via:

https://github.com/Azure/azure-dev/blob/d4ef68d2c5d70fb23d21e06e6c2583abc96f0954/cli/azd/pkg/project/internal/project_utils.go#L15-L36

This is called by the App Service and Functions targets, to create the zip file that we can deploy.  In the past we had to materialize this file to disk because we had to pass a path to the `az`

[2022-10-21 21:42] ellismg commented on #958
@bradygaster - I am guessing that what you want to do here is flow some values (which could be outputs of your bicep module) into `wwwroot\appsettings.json` or are the values you need to insert there coming from a different location?

If that's the case, and If I squint, it feels like our logic that we have today to take bicep output and put them into the dotnet secret store is sort of doing the s

[2022-10-21 21:49] danieljurek opened #964 "[codespaces] New repository does not detect presence of new .devcontainer/ files on azd init"
Repro steps:

1. New repository (must have some file to get to "codespaces" experience on GitHub)
2. Launch codespaces in the repo (it doesn't have a template in it yet and no .devcontainer folder)
3. Install `azd`
4. Run `azd init` select a template, commit, push

Expected:
vscode inside of codespaces warns about changes to `.devcontainer` and offers to rebuild container

Actual:
no warning obser

[2022-10-21 22:03] ellismg commented on #952
Good sleuthing!  I believe you are correct here.  We are not yet building any ARM versions of `azd`.  We have logic in `install-azd.sh` such that when running on a Mac, we download the amd64 version of the binary:

https://github.com/Azure/azure-dev/blob/a1945858bbeb1090bb2e75d20b3b20e8af182d98/cli/installer/install-azd.sh#L116-L119

This relied on the fact that Rosetta exists and allows M1s to ru

[2022-10-21 22:05] ellismg commented on #952
/cc @danieljurek Since you've been looking at codespaces/devcointainer stuff recently.

[2022-10-21 22:05] danieljurek commented on #948
Possible solution:

Inside azd when running gh/git commands:

1. unset GITHUB_TOKEN (i.e. call `gh secret ...` with no GITHUB_TOKEN environment variable)
2. Run `gh auth login` (the user needs to not use gh auth to do git operations... this will need more exploration)
3. Run all `gh secret set` operations
4. Ask user if they want to start a workflow
5. Start workflow using `workflow_dispatch` ...

[2022-10-21 22:06] #924 closed

[2022-10-21 22:42] danieljurek commented on #948
Another solution:

Use OIDC to auth with GitHub. Hardcode these values (somehow populate them from a template/file)

[code]

These values aren't technically secrets and should probably be viewable (gh action secrets are not viewable).

This would prevent us from having to set secrets (in codespaces or anywhere) and we could use the default set of permissions granted to codespaces.

[2022-10-21 23:30] vhvb1989 commented on #948
There is a fundamental situation here.
`azd pipeline cofig` is meant to set up a repository (either create a new one or chose one) on GitHub or Azdo.

When running `codespaces`, IIRC, we need to start from a GitHub repository.
The source from the repo is mounted to a container and then there's some sort of VSCode-online that is connected to the container.

So, when running `azd pipeline config` fr

[2022-10-23 23:14] jongio commented on #946
Yes, can you please update all of the devcontainer.json files in /templates/common/.devcontainer?  There are a few in there.  Thanks!

[2022-10-24 01:16] rpothin opened #968 "[Issue] 'azd pipeline config --help' does not mention 'GitHub' is the default value for 'provider'"
- [x] Make sure you've installed the latest version using [instructions in the wiki](../wiki/install)

**Output from `azd version`**
Run `azd version` and copy and paste the output here:

![image](https://user-images.githubusercontent.com/23240245/197428692-c9845ca2-5758-4645-9894-5bef858eb6f7.png)

**Output from `az version`**
Run `az version` and copy and paste the output here (minimum required

[2022-10-24 06:16] zedy-wj commented on #865
@jongio - We have tried with region `East US`, and get the same error. This time it was due to a failed deployment, you can reach from this [link](https://app-api-335oni2tqecwu.azurewebsites.net/).
Template: https://github.com/Azure-Samples/todo-python-mongo
Branch: main
azd version: 0.3.0-beta.3-daily.1937328 (commit d18003a6799b545e4050544f9fa05f1eaedb0948)

[2022-10-24 10:40] v-jiaodi opened #969 "API page exception when Azure Dev Deploy finished"
**Describe the issue:**
Run command: ` bash ./test-templates.sh -c false -t <template_name> -b pr/551 `, the log is correct and the web app can work normally. But the api page exception when we hit the deployed service api endpoint link.

**Repro Steps:**
1.Run command: ` bash ./test-templates.sh -c false -t <template_name> -b pr/551 `.
2. Hit the deployed service api endpoint link.

**Error Messa

[2022-10-24 10:40] v-jiaodi opened #970 "[codespaces] sizing issue - requires higher configuration"
**Describe the issue:**
Individual deploy test error

**Repro Steps:**
1.Run command: ` bash ./test-templates.sh -c false -t <template_name> -b pr/551 `.
2.Change “complete” to “completed” in UI
3.Run `azd deploy  --service web`

**Error Message:**

![image](https://user-images.githubusercontent.com/80496810/197507574-1d5863da-55ba-4ea4-bfc8-83ac16952414.png)

**Environment:**
OS: Codespace.
Templ

[2022-10-24 15:17] weikanglim commented on #948
@vhvb1989 The error here has nothing to do with git repository though. It is simply a result of the codespaces GitHub token doesn't have authorization to set secrets, and there's also problems with overriding that token inside codespaces. @jongio has ran into this before and blogged about it. The scenario here is that the user is using `azd pipeline config` to bootstrap the remaining parts of sett

[2022-10-24 16:08] wbreza opened #972 "Prompt to reuse service principal during `azd pipeline config` instead of always creating a new one."
During `azd pipeline config` prompt the user to select from an existing list of service principals instead of always creating a new one.

[2022-10-24 16:10] wbreza opened #973 "Ability to select different Azure clouds"
Today Azd assumes the use of Azure public cloud.  Add ability to select other clouds like govt cloud, Azure China, etc.

[2022-10-24 16:12] wbreza opened #974 "Add paging support in Graph SDK client"
Add support for paging in the Graph SDK client used in `azd`.

In the `.Applications()` and `.ServicePrincipals()` there is a high likelyhood that users can have multiple pages of items to request.

[2022-10-24 16:16] #716 closed

[2022-10-24 16:26] savannahostrowski commented on #948
A couple things:

1. What is the purpose of `azd pipeline config`?

I think that it's important to think about `azd pipeline config` holistically. In other words, what would a developer using azd be trying to accomplish by running `azd pipeline config`?

**The goal here is to be able to scaffold a CI/CD pipeline that tests my code against real Azure resources.**

The pieces where `pipeline config`

[2022-10-24 16:27] rajeshkamal5050 commented on #970
cc: @danieljurek for Codespace environment

[2022-10-24 16:48] jongio commented on #970
Yes, I ran into this to.  You need to use a bigger codespace spec.  You can go to https://github.com/codespaces/ and change it.

[2022-10-24 16:51] jongio commented on #948
We have `pipeline config` to configure GH or AzDO so an existing pipeline can run successfully.

Templates ship with a placeholder pipeline definition.

At some point we thought we'd want to have something like `pipeline create` to create a new one.

[2022-10-24 16:53] jongio commented on #969
Even if ithe root doesn't load the swagger UI, Does the app still work?

[2022-10-24 16:55] savannahostrowski commented on #948
I think a plausible scenario is that someone uses the template as a starting point and modifies the pipeline definition we've included to make it work for their use case. I'm not confident that the scenarios (modify vs. create) are actually as disjoint as you outline today.